{% extends "layout.html" %}
{% from "component/navbar.html" import clean_navbar %}

{% block content %}
    {{ clean_navbar() }}
    <div class="container-fluid d-flex justify-content-center mt-3">
        <div class="card" style="width: 500px;">
            <form class="card-body" method="POST" action="">
                <h5 class="card-title mb-4">{{ page_title }}</h5>
                {{ createUserTwoForm.hidden_tag() }}
                <div class="form-group">
                    {{ createUserTwoForm.name_input.label }}
                    {% if createUserTwoForm.name_input.errors %}
                        {{ createUserTwoForm.name_input(class="form-control form-control-sm is-invalid") }}
                        {% for error in createUserTwoForm.name_input.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ createUserTwoForm.name_input(class="form-control form-control-sm") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ createUserTwoForm.username_input.label }}
                    {% if createUserTwoForm.username_input.errors %}
                        {{ createUserTwoForm.username_input(class="form-control form-control-sm is-invalid") }}
                        {% for error in createUserTwoForm.username_input.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ createUserTwoForm.username_input(class="form-control form-control-sm") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ createUserTwoForm.email_input.label }}
                    {% if createUserTwoForm.email_input.errors %}
                        {{ createUserTwoForm.email_input(class="form-control form-control-sm is-invalid") }}
                        {% for error in createUserTwoForm.email_input.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ createUserTwoForm.email_input(class="form-control form-control-sm") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ createUserTwoForm.password_input.label }}
                    {% if createUserTwoForm.password_input.errors %}
                        {{ createUserTwoForm.password_input(class="form-control form-control-sm is-invalid") }}
                        {% for error in createUserTwoForm.password_input.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ createUserTwoForm.password_input(class="form-control form-control-sm") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ createUserTwoForm.confirm_password_input.label }}
                    {% if createUserTwoForm.confirm_password_input.errors %}
                        {{ createUserTwoForm.confirm_password_input(class="form-control form-control-sm is-invalid") }}
                        {% for error in createUserTwoForm.confirm_password_input.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ createUserTwoForm.confirm_password_input(class="form-control form-control-sm") }}
                    {% endif %}
                </div>
                <div class="d-flex flex-column mt-4">
                    {{ createUserTwoForm.submit_input(class="btn btn-primary btn-block") }}
                    {% if page_title.split(" ")[0] == "Sign" %}
                        <span class="small text-muted mt-3">Already on Boop? <a href="{{ url_for('gateway.signin') }}">Sign in here</a></span>
                    {% elif page_title.split(" ")[0] == "Admin" %}
                        <span class="small text-muted mt-3">Already a Boop admin? <a href="{{ url_for('gateway.admin_signin') }}">Sign in here</a></span>
                    {% endif %}
                </div>
            </form>
          </div>
    </div>
{% endblock %}