{% extends "layout.html" %}
{% from "component/navbar.html" import loaded_navbar %}

{% block content %}
    {{ loaded_navbar(current_user) }}
    <div class="container-fluid d-flex justify-content-center pt-5 my-3">
        <div class="d-flex flex-column w-50">
            <div class="jumbotron jumbotron-fluid rounded w-100 d-flex flex-column mb-3 pb-0">
                <div class="d-flex flex-row px-4">
                    <img src="{{ config.MEDIA_STORAGE + this_business['photo'] }}" alt="..." class="rounded mx-auto d-block w-25">
                    <div class="container">
                        <h1 class="display-6">{{ this_business["name"] }}</h1>
                        {% if this_business["executive_id"] == current_user["public_id"] %}
                            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#editBusinessModal">
                                <img src="{{ url_for('static', filename='assets/settings.svg') }}" style="width:20px;">
                            </button>
                            <div class="modal fade" id="editBusinessModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Business Settings</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <form class="modal-body" method="POST" action="{{ url_for('business.edit', business_pid=this_business.public_id) }}" enctype="multipart/form-data">
                                        <h5 class="mb-3">Update business</h5>
                                        {{ editBusinessForm.hidden_tag() }}
                                        <div class="form-group">
                                            {{ editBusinessForm.photo_input.label }}
                                            {{ editBusinessForm.photo_input(class="form-control form-control-sm") }}
                                        </div>
                                        <div class="form-group">
                                            {{ editBusinessForm.name_input.label }}
                                            {{ editBusinessForm.name_input(class="form-control form-control-sm", value=this_business["name"]) }}
                                        </div>
                                        <div class="form-group">
                                            {% set f = editBusinessForm.bio_input.process_data(this_business["bio"]) %}
                                            {{ editBusinessForm.bio_input.label }}
                                            {{ editBusinessForm.bio_input(class="form-control form-control-sm", value=this_business["bio"]) }}
                                        </div>
                                        <div class="form-group">
                                            {{ editBusinessForm.type_input.label }}
                                            {{ editBusinessForm.type_input(class="form-control form-control-sm") }}
                                        </div>
                                        {{ editBusinessForm.submit_input(class="btn btn-primary float-right btn-block") }}
                                    </form>
                                    <form class="border-top modal-body" method="POST" action="{{ url_for('business.delete', business_pid=this_business.public_id) }}">
                                        <h5 class="mb-3">Delete business</h5>
                                        {{ deleteBusinessForm.hidden_tag() }}
                                        <span class="text-muted small">Confirm by typing the business's name</span>
                                        {{ deleteBusinessForm.confirm_name_input(class="d-none", value=this_business.name) }}
                                        {{ deleteBusinessForm.name_input(class="form-control form-control-sm", placeholder=this_business.name, minlength=2) }}
                                        {{ deleteBusinessForm.submit_input(class="btn btn-danger float-right btn-block mt-3") }}
                                    </form>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                        {% else %}
                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#createAppointmentModal">
                                Create appointment
                            </button>
                            <div class="modal fade" id="createAppointmentModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <form class="modal-content" method="POST" action="{{ url_for('appointment.create') }}" enctype="multipart/form-data">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Create appointment</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                        {{ createAppointmentForm.hidden_tag() }}
                                        <div class="form-group">
                                            {{ createAppointmentForm.details_input.label }}
                                            {{ createAppointmentForm.details_input(class="form-control form-control-sm") }}
                                        </div>
                                        <div class="form-group">
                                            {{ createAppointmentForm.type_input.label }}
                                            {{ createAppointmentForm.type_input(class="form-control form-control-sm") }}
                                        </div>
                                        <div class="form-group">
                                            {{ createAppointmentForm.pet_input.label }}
                                            {{ createAppointmentForm.pet_input(class="form-control form-control-sm") }}
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    {{ createAppointmentForm.submit_input(class="btn btn-primary") }}
                                    </div>
                                </form>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="">
                    <div class="d-flex flex-column ml-2 container">
                        <span>Bio: {{ this_business.bio }}</span>
                        <span>Type: {% for type in this_business._type %}| {{ type.name }} {% endfor %}</span>
                    </div>
                </div>
                <ul class="nav row m-0 border rounded mt-3">
                    <li class="nav-item col d-flex justify-content-center">
                      <a class="nav-link active" href="{{ url_for('business.posts', business_pid=this_business['public_id']) }}">Posts</a>
                    </li>
                    <li class="nav-item col d-flex justify-content-center">
                      <a class="nav-link" href="#">Media</a>
                    </li>
                </ul>
            </div>
            {% if createPostForm %}
                {% if this_business["executive_id"] == current_user["public_id"] %}
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#createPostModal">
                        Create post
                    </button>
                    <div class="modal fade" id="createPostModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                        <form class="modal-content" method="POST" action="{{ url_for('post.create') }}" enctype="multipart/form-data">
                            <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Create post</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                {{ createPostForm.hidden_tag() }}
                                {{ createPostForm.pinboard_input(class="d-none", value=this_business["public_id"]) }}
                                {{ createPostForm.confiner_input(class="d-none") }}
                                <div class="form-group">
                                    {{ createPostForm.photo_input.label }}
                                    {{ createPostForm.photo_input(class="form-control form-control-sm") }}
                                </div>
                                <div class="form-group">
                                    {{ createPostForm.content_input.label }}
                                    {{ createPostForm.content_input(class="form-control form-control-sm") }}
                                </div>
                                <div class="form-group">
                                    {{ createPostForm.subject_input.label }}
                                    {{ createPostForm.subject_input(class="form-control form-control-sm") }}
                                </div>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            {{ createPostForm.submit_input(class="btn btn-primary") }}
                            </div>
                        </form>
                        </div>
                    </div>
                {% endif %}
                {% for post in post_list %}
                <div class="container-fluid border p-4 mt-3">
                    <div class="d-flex flex-row">
                        <div class="float-left pt-1">
                            <img class="home-content-profPic" src="{{ url_for('static', filename='images/{}'.format(post.creator_photo)) }}" alt="..." class="rounded d-block w-25 border">
                        </div>
                        <div class="d-flex flex-column ml-2 container">
                            <a href="{{ url_for('user.pets', username=post['creator_username']) }}" class="lead"><span class="font-weight-bold hci-bb-l">{{ post.creator_name }}</span> <span style="font-size:15px;">@{{ post.creator_username }} · {{ post.registered_on }}</span>
                            </a>
                            <br>
                            <a href="{{ url_for('post.comments', post_pid=post.public_id) }}">Content: {{ post.content }}</a>
                            {% if post.photo != None %}
                                <div class="text-center">
                                    <img class="img-fluid hci-1p" src="{{ config.MEDIA_STORAGE + post['photo'] }}" alt="..." class="rounded d-block w-25 border">
                                </div>
                            {% endif %}
                            {% if post.pinboard_id %}
                                <span>Within business: <a href="{{ url_for('business.posts', business_pid=post.pinboard_id) }}">{{ post.pinboard_name }}</a></span>
                            {% endif %}
                            {% if post.confiner_id %}
                                <span>Within circle: <a href="{{ url_for('circle.posts', circle_pid=post.confiner_id) }}">{{ post.confiner_name }}</a></span>
                            {% endif %}
                            <span>
                                Tagged pets:
                                <div class="d-flex flex-row">
                                    {% for subject in post.subject %}
                                        <a href="{{ url_for('pet.posts', pet_pid=subject.public_id) }}" class="badge bg-light">{{ subject.name }}</a>
                                    {% endfor %}
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <nav aria-label="Page navigation">
                    <ul class="pagination rounded mt-3 justify-content-center">
                      <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                      </li>
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
{% endblock %}