{% extends "layout.html" %}
{% from "component/navbar.html" import loaded_navbar %}
{% from "component/post.html" import post_creator, post_remover, post_bi %}
{% from "component/gallery.html" import media_gallery %}

{% block content %}
    {{ loaded_navbar(current_user) }}
    <div class="container-fluid d-flex justify-content-center pt-5 my-3">
        <div class="c-center d-flex flex-column">
            <div class="jumbotron jumbotron-fluid rounded w-100 d-flex flex-column mb-3 pb-0">
                <div class="d-flex flex-row px-4">
                    <img src="{{ config.MEDIA_STORAGE + this_business['photo'] }}" alt="..." class="rounded mx-auto d-block w-25">
                    <div class="container">
                        <h1 class="display-6">{{ this_business["name"] }}</h1>
                        {% if this_business["visitor_auth"] == 2 %}
                            Executives:
                            <div class="container-fluid d-flex flex-row p-0 mt-1">
                                {% for executive in this_business["executive"] %}
                                    <a href="{{ url_for('user.pets', username=executive['username']) }}">
                                        <img class="pp-opp {%if loop.index > 1%}ml-1{%endif%}" src="{{ url_for('static', filename='images/{}'.format(executive.photo)) }}" alt="..." class="rounded d-block w-25 border">
                                    </a>
                                {% endfor %}
                            </div>
                            <br>
                            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#editBusinessModal">
                                <img src="{{ url_for('static', filename='assets/settings.svg') }}" style="width:20px;">
                            </button>
                            <div class="modal" id="editBusinessModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Business Settings</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body d-flex flex-column">
                                        <form class="mb-3" method="POST" action="{{ url_for('business.edit', business_pid=this_business.public_id) }}" enctype="multipart/form-data">
                                            <h5 class="mb-3">Update business</h5>
                                            {{ editBusinessForm.hidden_tag() }}
                                            <div class="form-group">
                                                {{ editBusinessForm.photo_input.label }}
                                                {{ editBusinessForm.photo_input(class="form-control form-control-sm") }}
                                            </div>
                                            <div class="form-group">
                                                {{ editBusinessForm.name_input.label }}
                                                {{ editBusinessForm.name_input(class="form-control form-control-sm", value=this_business["name"]) }}
                                            </div>
                                            <div class="form-group">
                                                {% set f = editBusinessForm.bio_input.process_data(this_business["bio"]) %}
                                                {{ editBusinessForm.bio_input.label }}
                                                {{ editBusinessForm.bio_input(class="form-control form-control-sm", value=this_business["bio"]) }}
                                            </div>
                                            <div class="form-group">
                                                {{ editBusinessForm.type_input.label }}
                                                {{ editBusinessForm.type_input(class="form-control form-control-sm") }}
                                            </div>
                                            {{ editBusinessForm.submit_input(class="btn btn-primary float-right btn-block") }}
                                        </form>
                                        <form class="my-3" method="POST" action="{{ url_for('business.create_executive', business_pid=this_business.public_id) }}">
                                            <h5 class="mb-3">Add new executive</h5>
                                            {{ createBusinessExecutiveForm.hidden_tag() }}
                                            <div class="position-relative">
                                                <div href="{{ url_for('user.search') }}" media-storage="{{ config.MEDIA_STORAGE }}" search-type="filler" class="autocomplete position-absolute container-fluid p-0 w-75 pr-2">
                                                    {{ createBusinessExecutiveForm.name_input(class="form-control form-control-sm", placeholder="Name or username") }}
                                                    {{ createBusinessExecutiveForm.executive_input(hidden=True) }}
                                                </div>
                                                {{ createBusinessExecutiveForm.submit_input(class="position-relative btn btn-primary ml-2 btn-sm w-25 float-right") }}
                                            </div>
                                        </form>
                                        <div class="my-3">
                                            <h5>Executives</h5>
                                            {% for executive in this_business["executive"] %}
                                                <div class="d-flex justify-content-between p-2">
                                                    <span>{% if executive.public_id == current_user.public_id %}You{% else %}{{ executive["name"] }}{% endif %}</span>
                                                    {% if this_business["executive"]|length > 1 %}
                                                        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#removeBusinessExecutiveModal{{ loop.index }}">
                                                            Remove
                                                        </button>
                                                        <div class="modal" id="removeBusinessExecutiveModal{{ loop.index }}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <form class="modal-content" method="POST" action="{{ url_for('business.delete_executive', business_pid=this_business.public_id) }}">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="staticBackdropLabel">Remove executive</h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="border-top modal-body">
                                                                        {{ deleteBusinessExecutiveForm.hidden_tag() }}
                                                                        {{ deleteBusinessExecutiveForm.executive_input(hidden=True, value=executive["public_id"]) }}
                                                                        {{ deleteBusinessExecutiveForm.confirm_name_input(hidden=True, value=this_business.name) }}
                                                                            Are you sure you want to remove {% if executive.public_id == current_user.public_id %}yourself as{% else %}this{% endif %} executive of this business?
                                                                            {{ deleteBusinessExecutiveForm.name_input(hidden=True, value=this_business.name) }}
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                        {{ deleteBusinessExecutiveForm.submit_input(class="btn btn-danger") }}
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <form class="my-3" method="POST" action="{{ url_for('business.delete', business_pid=this_business.public_id) }}">
                                            <h5 class="mb-3">Delete business</h5>
                                            {{ deleteBusinessForm.hidden_tag() }}
                                            <span class="text-muted small">Confirm by typing the business's name</span>
                                            {{ deleteBusinessForm.confirm_name_input(class="d-none", value=this_business.name) }}
                                            {{ deleteBusinessForm.name_input(class="form-control form-control-sm", placeholder=this_business.name, minlength=2) }}
                                            {{ deleteBusinessForm.submit_input(class="btn btn-danger float-right btn-block mt-3") }}
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="d-flex flex-row">
                                <div class="mr-2">
                                    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#createAppointmentModal">
                                        Create appointment
                                    </button>
                                    <div class="modal" id="createAppointmentModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <form class="modal-content" method="POST" action="{{ url_for('appointment.create') }}" enctype="multipart/form-data">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Create appointment</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body">
                                                {{ createAppointmentForm.hidden_tag() }}
                                                <div class="form-group">
                                                    {{ createAppointmentForm.details_input.label }}
                                                    {{ createAppointmentForm.details_input(class="form-control form-control-sm") }}
                                                </div>
                                                <div class="form-group">
                                                    {{ createAppointmentForm.type_input.label }}
                                                    {{ createAppointmentForm.type_input(class="form-control form-control-sm") }}
                                                </div>
                                                <div class="form-group">
                                                    {{ createAppointmentForm.pet_input.label }}
                                                    {{ createAppointmentForm.pet_input(class="form-control form-control-sm") }}
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            {{ createAppointmentForm.submit_input(class="btn btn-primary") }}
                                            </div>
                                        </form>
                                        </div>
                                    </div>
                                </div>
                                {% if this_business["visitor_auth"] == 1 %}
                                    <form method="POST" action="{{ url_for('business.unfollow', business_pid=this_business['public_id']) }}">
                                        {{ unfollowBusinessForm.hidden_tag() }}
                                        <div class="form-group">
                                            {{ unfollowBusinessForm.follower_input(hidden=True, value=current_user["public_id"]) }}
                                            {{ unfollowBusinessForm.submit_input(class="btn btn-outline-primary btn-sm", value="Unfollow") }}
                                        </div>
                                    </form>
                                {% else %}
                                    <form method="POST" action="{{ url_for('business.follow', business_pid=this_business['public_id']) }}">
                                        {{ followBusinessForm.hidden_tag() }}
                                        <div class="form-group">
                                            {{ followBusinessForm.submit_input(class="btn btn-primary btn-sm") }}
                                        </div>
                                    </form>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <br>
                <div class="d-flex flex-column ml-2 container">
                    <span>Bio: {{ this_business.bio }}</span>
                    <span>Type: {% for type in this_business._type %}| {{ type.name }} {% endfor %}</span>
                </div>
                <ul class="nav row m-0 border rounded mt-3">
                    <li class="nav-item col d-flex justify-content-center">
                      <a class="nav-link" href="{{ url_for('business.posts', business_pid=this_business['public_id']) }}">Posts</a>
                    </li>
                    <li class="nav-item col d-flex justify-content-center">
                      <a class="nav-link" href="{{ url_for('business.media', business_pid=this_business['public_id']) }}">Media</a>
                    </li>
                    <li class="nav-item col d-flex justify-content-center">
                        <a class="nav-link" href="{{ url_for('business.followers', business_pid=this_business['public_id']) }}">Followers</a>
                      </li>
                </ul>
            </div>
            {% if createPostForm %}
                {{ post_remover(deletePostForm, this_business) }}
                <div class="container">
                    <div class="fd-cont row row-cols-1 row-cols-md-1 p-0">
                        <div class="cr-pst-c col p-0">
                            <div class="pt-3">
                                {{ post_creator(current_user, createPostForm, this_business, none) }}
                            </div>
                        </div>
                        <div class="fd-ld col p-0 d-flex align-items-center justify-content-center mt-3">
                            <div class="spinner-grow text-primary" role="status"></div>
                        </div>
                        <div class="fd-st mt-2 d-flex align-items-center justify-content-center">
                            <span class="badge badge-light"></span>
                        </div>
                        <div hidden=True class="fd-pi col p-0" query-url="{{ url_for('post.get_all_by_business', pinboard_pid=this_business['public_id']) }}">
                            {{ post_bi() }}
                        </div>
                    </div>
                </div>
            {% elif uploadPhotoForm %}
                <div class="md-cont">
                    <div class="md-ld col p-0 d-flex align-items-center justify-content-center mt-3">
                        <div class="spinner-grow text-primary" role="status"></div>
                    </div>
                    <div class="md-st mt-2 d-flex align-items-center justify-content-center">
                        <span class="badge badge-light"></span>
                    </div>
                    <div hidden=True class="md-pi" query-url="{{ url_for('post.get_all_by_business', pinboard_pid=this_business['public_id']) }}">
                        {{ media_gallery() }}
                    </div>
                </div>
            {% elif inviteFollowerForm %}
            {% if this_business["executive"] %}
            {% for executive in this_business["executive"] %}
                <a href="{{ url_for('user.pets', username=executive.username) }}" class="container-fluid border p-4 mt-3">
                    <div class="d-flex flex-row">
                        <img class="home-content-profPic" src="{{ config.MEDIA_STORAGE + executive['photo'] }}" alt="..." class="rounded d-block w-25 border">
                        <div class="d-flex flex-column ml-2 container">
                            <span class="font-weight-bold hci-bb-l">{% if executive.public_id == current_user.public_id %}You{% else %}{{ executive["name"] }}{% endif %}&nbsp;&nbsp;<span class="badge bg-success text-light">Executive</span></span> <span style="font-size:15px;">@{{ executive.username }}</span>
                        </div>
                    </div>
                </a>
            {% endfor %}
            {% endif %}
            {% for follower in follower_list %}
                <div class="container-fluid border p-4 mt-3">
                    <div class="d-flex flex-row justify-content-between">
                        <a class="d-flex flex-row" href="{{ url_for('user.pets', username=follower.username) }}" >
                            <img class="home-content-profPic" src="{{ config.MEDIA_STORAGE + follower['photo'] }}" alt="..." class="rounded d-block w-25 border">
                            <div class="d-flex flex-column ml-2 container">
                                <span class="font-weight-bold hci-bb-l">{% if follower.public_id == current_user.public_id %}You{% else %}{{ follower["name"] }}{% endif %}&nbsp;&nbsp;<span class="badge bg-primary text-light">Follower</span></span> <span style="font-size:15px;">@{{ follower.username }}</span>
                            </div>
                        </a>
                        {% if this_business["visitor_auth"] == 2 %}
                            <div class="float-right">
                                <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#removeBusinessFollowerModal{{ loop.index }}">
                                    Remove
                                </button>
                                <div class="modal" id="removeBusinessFollowerModal{{ loop.index }}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <form class="modal-content" method="POST" action="{{ url_for('business.unfollow', business_pid=this_business.public_id) }}">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel">Remove follower</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="border-top modal-body">
                                                {{ unfollowBusinessForm.hidden_tag() }}
                                                {{ unfollowBusinessForm.follower_input(hidden=True, value=follower["public_id"]) }}
                                                Are you sure you want to remove this follower?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                {{ unfollowBusinessForm.submit_input(class="btn btn-danger", value="Remove") }}
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}