{% extends "layout.html" %}
{% from "component/navbar.html" import loaded_navbar %}
{% from "component/post.html" import post_creator, post_remover, post_bi %}
{% from "component/gallery.html" import media_gallery %}

{% block content %}
    {{ loaded_navbar(current_user) }}
    <div class="container-fluid d-flex justify-content-center pt-5 my-3">
        <div class="c-center d-flex flex-column">
            <div class="jumbotron jumbotron-fluid rounded w-100 d-flex flex-column mb-3 pb-0">
                <div class="d-flex flex-row px-4">
                    <img src="{{ config.MEDIA_STORAGE + this_circle['photo'] }}" alt="..." class="rounded mx-auto d-block w-25">
                    <div class="container">
                        <h1 class="display-6">{{ this_circle["name"] }}</h1>
                        Admins:
                        <div class="container-fluid d-flex flex-row p-0 mt-1">
                            {% for admin in this_circle["admin"] %}
                                <a href="{{ url_for('user.pets', username=admin['username']) }}">
                                    <img class="pp-opp {%if loop.index > 1%}ml-1{%endif%}" src="{{ url_for('static', filename='images/{}'.format(admin.photo)) }}" alt="..." class="rounded d-block w-25 border">
                                </a>
                            {% endfor %}
                        </div>
                        <br>
                        {% if this_circle["visitor_auth"] == 3 %}
                            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#editCircleModal">
                                <img src="{{ url_for('static', filename='assets/settings.svg') }}" style="width:20px;">
                            </button>
                            <div class="modal" id="editCircleModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Circle Settings</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <form class="modal-body" method="POST" action="{{ url_for('circle.edit', circle_pid=this_circle.public_id) }}" enctype="multipart/form-data">
                                        <h5 class="mb-3">Update circle</h5>
                                        {{ editCircleForm.hidden_tag() }}
                                        <div class="form-group">
                                            {{ editCircleForm.photo_input.label }}
                                            {{ editCircleForm.photo_input(class="form-control form-control-sm") }}
                                        </div>
                                        <div class="form-group">
                                            {{ editCircleForm.name_input.label }}
                                            {{ editCircleForm.name_input(class="form-control form-control-sm", value=this_circle["name"]) }}
                                        </div>
                                        <div class="form-group">
                                            {% set f = editCircleForm.bio_input.process_data(this_circle["bio"]) %}
                                            {{ editCircleForm.bio_input.label }}
                                            {{ editCircleForm.bio_input(class="form-control form-control-sm", value=this_circle["bio"]) }}
                                        </div>
                                        <div class="form-group">
                                            {{ editCircleForm.type_input.label }}
                                            {{ editCircleForm.type_input(class="form-control form-control-sm") }}
                                        </div>
                                        {{ editCircleForm.submit_input(class="btn btn-primary float-right btn-block") }}
                                    </form>
                                    <form class="border-top modal-body" method="POST" action="{{ url_for('circle.create_admin', circle_pid=this_circle.public_id) }}">
                                        <h5 class="mb-3">Add new admin</h5>
                                        {{ createCircleAdminForm.hidden_tag() }}
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div href="/circle/{{this_circle['public_id']}}/members" class="autocomplete container-fluid p-0">
                                                {{ createCircleAdminForm.name_input(class="form-control form-control-sm", placeholder="Member name or username") }}
                                                {{ createCircleAdminForm.admin_input(hidden=True) }}
                                            </div>
                                            {{ createCircleAdminForm.submit_input(class="btn btn-primary ml-2 btn-sm") }}
                                        </div>
                                    </form>
                                    <div class="container border-top pt-3">
                                        <h5>Admins</h5>
                                        {% for admin in this_circle["admin"] %}
                                            <div class="d-flex justify-content-between p-2">
                                                <span>{% if admin.public_id == current_user.public_id %}You{% else %}{{ admin["name"] }}{% endif %}</span>
                                                {% if this_circle["admin"]|length > 1 %}
                                                    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteCircleAdminModal{{ loop.index }}">
                                                        Remove
                                                    </button>
                                                    <div class="modal" id="deleteCircleAdminModal{{ loop.index }}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <form class="modal-content" method="POST" action="{{ url_for('circle.delete_admin', circle_pid=this_circle.public_id) }}">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="staticBackdropLabel">Remove admin</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="border-top modal-body">
                                                                    {{ deleteCircleAdminForm.hidden_tag() }}
                                                                    {{ deleteCircleAdminForm.admin_input(hidden=True, value=admin["public_id"]) }}
                                                                    {{ deleteCircleAdminForm.confirm_name_input(hidden=True, value=this_circle.name) }}
                                                                    Are you sure you want to remove {% if admin.public_id == current_user.public_id %}yourself as{% else %}this{% endif %} admin of this circle?
                                                                    {{ deleteCircleAdminForm.name_input(hidden=True, value=this_circle.name) }}
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                    {{ deleteCircleAdminForm.submit_input(class="btn btn-danger") }}
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <form class="border-top modal-body" method="POST" action="{{ url_for('circle.delete', circle_pid=this_circle.public_id) }}">
                                        <h5 class="mb-3">Delete circle</h5>
                                        {{ deleteCircleForm.hidden_tag() }}
                                        <span class="text-muted small">Confirm by typing the circle's name</span>
                                        {{ deleteCircleForm.confirm_name_input(hidden=True, value=this_circle.name) }}
                                        {{ deleteCircleForm.name_input(class="form-control form-control-sm", placeholder=this_circle.name, minlength=2) }}
                                        {{ deleteCircleForm.submit_input(class="btn btn-danger float-right btn-block mt-3") }}
                                    </form>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="d-flex align-items-center">
                        {% if this_circle["visitor_auth"] == 2 %}
                            <form method="POST" action="{{ url_for('circle.leave', circle_pid=this_circle['public_id']) }}">
                                {{ leaveCircleForm.hidden_tag() }}
                                <div class="form-group">
                                    {{ leaveCircleForm.member_input(hidden=True, value=current_user["public_id"]) }}
                                    {{ leaveCircleForm.submit_input(class="btn btn-outline-danger", value="Leave circle") }}
                                </div>
                            </form>
                        {% elif this_circle["visitor_auth"] == 1 %}
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#cancelJoinModal">
                                Pending
                            </button>
                            <div class="modal" id="cancelJoinModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                <form class="modal-content" method="POST" action="{{ url_for('circle.leave', circle_pid=this_circle['public_id']) }}" enctype="multipart/form-data">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Cancel join request</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                        {{ leaveCircleForm.hidden_tag() }}
                                        {{ leaveCircleForm.member_input(hidden=True, value=current_user["public_id"]) }}
                                        Are you sure you want to cancel join request?
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    {{ leaveCircleForm.submit_input(class="btn btn-primary", value="Cancel join request") }}
                                    </div>
                                </form>
                                </div>
                            </div>
                        {% elif this_circle["visitor_auth"] == 0 %}
                            <form method="POST" action="{{ url_for('circle.join', circle_pid=this_circle['public_id']) }}">
                                {{ joinCircleForm.hidden_tag() }}
                                <div class="form-group">
                                    {{ joinCircleForm.submit_input(class="btn btn-primary") }}
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div> 
                <br>
                <div class="d-flex flex-column ml-2 container">
                    <span>Bio: {{ this_circle.bio }}</span>
                    <span>Type: {% for type in this_circle._type %}| {{ type.name }} {% endfor %}</span>
                </div>
                <ul class="nav row m-0 border rounded mt-3">
                    <li class="nav-item col d-flex justify-content-center">
                      <a class="nav-link active" href="{{ url_for('circle.posts', circle_pid=this_circle['public_id']) }}">Posts</a>
                    </li>
                    <li class="nav-item col d-flex justify-content-center">
                      <a class="nav-link" href="{{ url_for('circle.media', circle_pid=this_circle['public_id']) }}">Media</a>
                    </li>
                    <li class="nav-item col d-flex justify-content-center">
                        <a class="nav-link" href="{{ url_for('circle.confirmed_members', circle_pid=this_circle['public_id']) }}">Members</a>
                    </li>
                </ul>
            </div>
            {% if this_circle["visitor_auth"] > 1 %}
                {% if createPostForm %}
                    {{ post_remover(deletePostForm, none, this_circle) }}
                    <div class="container">
                        <div class="fd-cont row row-cols-1 row-cols-md-1 p-0">
                            <div class="col p-0">
                                <div class="pt-3">
                                    {{ post_creator(current_user, createPostForm, none, this_circle) }}
                                </div>
                            </div>
                            <div class="fd-ld col p-0 d-flex align-items-center justify-content-center mt-3">
                                <div class="spinner-grow text-primary" role="status"></div>
                            </div>
                            <div class="fd-st mt-2 d-flex align-items-center justify-content-center">
                                <span class="badge badge-light"></span>
                            </div>
                            <div hidden=True class="fd-pi col p-0" query-url="{{ url_for('post.get_all_by_circle', confiner_pid=this_circle['public_id']) }}">
                                {{ post_bi() }}
                            </div>
                        </div>
                    </div>
                {% elif uploadPhotoForm %}
                    <div class="md-cont">
                        <div class="md-ld col p-0 d-flex align-items-center justify-content-center mt-3">
                            <div class="spinner-grow text-primary" role="status"></div>
                        </div>
                        <div class="md-st mt-2 d-flex align-items-center justify-content-center">
                            <span class="badge badge-light"></span>
                        </div>
                        <div hidden=True class="md-pi" query-url="{{ url_for('post.get_all_by_circle', confiner_pid=this_circle['public_id']) }}">
                            {{ media_gallery() }}
                        </div>
                    </div>
                {% elif inviteMemberForm %}
                    {% if this_circle["visitor_auth"] == 3 %}
                        <ul class="nav row m-0 border rounded">
                            <li class="nav-item col d-flex justify-content-center">
                                <a class="nav-link" href="{{ url_for('circle.confirmed_members', circle_pid=this_circle['public_id']) }}">Confirmed</a>
                            </li>
                            <li class="nav-item col d-flex justify-content-center">
                                <a class="nav-link" href="{{ url_for('circle.pending_members', circle_pid=this_circle['public_id']) }}">Pending</a>
                            </li>
                        </ul>
                    {% endif %}
                    {% if not acceptCircleForm %}
                    {% for admin in this_circle["admin"] %}
                        <a href="{{ url_for('user.pets', username=admin.username) }}" class="container-fluid border p-4 mt-3">
                            <div class="d-flex flex-row">
                                <img class="home-content-profPic" src="{{ config.MEDIA_STORAGE + admin['photo'] }}" alt="..." class="rounded d-block w-25 border">
                                <div class="d-flex flex-column ml-2 container">
                                    <span class="font-weight-bold hci-bb-l">{% if admin.public_id == current_user.public_id %}You{% else %}{{ admin["name"] }}{% endif %}&nbsp;&nbsp;<span class="badge bg-success text-light">Admin</span></span> <span style="font-size:15px;">@{{ admin.username }}</span>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                    {% endif %}
                    {% for member in member_list %}
                        <div class="container-fluid border p-4 mt-3">
                            <div class="d-flex flex-row justify-content-between">
                                <a class="d-flex flex-row" href="{{ url_for('user.pets', username=member.username) }}">
                                    <img class="home-content-profPic" src="{{ config.MEDIA_STORAGE + member['photo'] }}" alt="..." class="rounded d-block w-25 border">
                                    <div class="d-flex flex-column ml-2 container">
                                        <span class="font-weight-bold hci-bb-l">{% if member.public_id == current_user.public_id %}You{% else %}{{ member["name"] }}{% endif %}&nbsp;&nbsp;<span class="badge bg-primary text-light">Member</span></span> <span style="font-size:15px;">@{{ member.username }}</span>
                                    </div>
                                </a>
                                {% if this_circle["visitor_auth"] == 3 %}
                                    <div class="float-right">
                                        <div class="d-flex flex-row">
                                            {% if acceptCircleForm %}
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#acceptCircleMember{{ loop.index }}">
                                                    Accept
                                                </button>
                                                <div class="modal fade" id="acceptCircleMember{{ loop.index }}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <form class="modal-content" method="POST" action="{{ url_for('circle.accept', circle_pid=this_circle['public_id']) }}">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="staticBackdropLabel">Accept pending member</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="border-top modal-body">
                                                                {{ acceptCircleForm.hidden_tag() }}
                                                                {{ acceptCircleForm.member_input(hidden=True, value=member["public_id"]) }}
                                                                Are you sure you want to accept this as member?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                {{ acceptCircleForm.submit_input(class="btn btn-primary") }}
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createCircleAdminModal{{ loop.index }}">
                                                    Make admin
                                                </button>
                                                <div class="modal" id="createCircleAdminModal{{ loop.index }}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <form class="modal-content" method="POST" action="{{ url_for('circle.create_admin', circle_pid=this_circle.public_id) }}">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="staticBackdropLabel">Remove follower</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="border-top modal-body">
                                                                {{ createCircleAdminForm.hidden_tag() }}
                                                                {{ createCircleAdminForm.admin_input(hidden=True, value=member["public_id"]) }}
                                                                {{ createCircleAdminForm.name(hidden=True, value=member["name"]) }}
                                                                Are you sure you make this member an admin?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                {{ createCircleAdminForm.submit_input(class="btn btn-primary") }}
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            <button type="button" class="btn btn-outline-danger ml-2" data-toggle="modal" data-target="#removeCircleMemberModal{{ loop.index }}">
                                                Remove
                                            </button>
                                            <div class="modal fade" id="removeCircleMemberModal{{ loop.index }}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <form class="modal-content" method="POST" action="{{ url_for('circle.leave', circle_pid=this_circle['public_id']) }}">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="staticBackdropLabel">Remove follower</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="border-top modal-body">
                                                            {{ leaveCircleForm.hidden_tag() }}
                                                            {{ leaveCircleForm.member_input(hidden=True, value=member["public_id"]) }}
                                                            Are you sure you want to remove this member?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            {{ leaveCircleForm.submit_input(class="btn btn-danger", value="Remove") }}
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <nav aria-label="Page navigation">
                        <ul class="pagination rounded mt-3 justify-content-center">
                          <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                          </li>
                        </ul>
                    </nav>
                {% endif %}
            {% else %}
                <div class="jumbotron jumbotron-fluid p-2 d-flex justify-content-center">
                    <h5>Join circle to see its updates.</h5>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}