{% extends "layout.html" %}
{% from "component/navbar.html" import loaded_navbar %}

{% block content %}
    {{ loaded_navbar(current_user) }}
    <div class="container-fluid d-flex justify-content-center pt-5 my-3">
        <div class="circleprof-cont d-flex flex-column w-50">
            <div class="jumbotron jumbotron-fluid rounded w-100 d-flex flex-column mb-3 pb-0">
                <div class="d-flex flex-row px-4">
                    <img src="{{ config.MEDIA_STORAGE + this_circle['photo'] }}" alt="..." class="rounded mx-auto d-block w-25">
                    <div class="container">
                        <h1 class="display-6">{{ this_circle["name"] }}</h1>
                        <p class="lead"><a href="{{ url_for('user.circles', username=this_circle['admin_username']) }}">{{ this_circle["admin_name"] }}'s</a> circle</p>
                        {% if this_circle["admin_id"] == current_user["public_id"] %}
                            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#editCircleModal">
                                <img src="{{ url_for('static', filename='assets/settings.svg') }}" style="width:20px;">
                            </button>
                            <div class="modal fade" id="editCircleModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Circle Settings</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <form class="modal-body" method="POST" action="{{ url_for('circle.edit', circle_pid=this_circle.public_id) }}" enctype="multipart/form-data">
                                        <h5 class="mb-3">Update circle</h5>
                                        {{ editCircleForm.hidden_tag() }}
                                        <div class="form-group">
                                            {{ editCircleForm.photo_input.label }}
                                            {{ editCircleForm.photo_input(class="form-control form-control-sm") }}
                                        </div>
                                        <div class="form-group">
                                            {{ editCircleForm.name_input.label }}
                                            {{ editCircleForm.name_input(class="form-control form-control-sm", value=this_circle["name"]) }}
                                        </div>
                                        <div class="form-group">
                                            {% set f = editCircleForm.bio_input.process_data(this_circle["bio"]) %}
                                            {{ editCircleForm.bio_input.label }}
                                            {{ editCircleForm.bio_input(class="form-control form-control-sm", value=this_circle["bio"]) }}
                                        </div>
                                        <div class="form-group">
                                            {{ editCircleForm.type_input.label }}
                                            {{ editCircleForm.type_input(class="form-control form-control-sm") }}
                                        </div>
                                        {{ editCircleForm.submit_input(class="btn btn-primary float-right btn-block") }}
                                    </form>
                                    <form class="border-top modal-body" method="POST" action="{{ url_for('circle.delete', circle_pid=this_circle.public_id) }}">
                                        <h5 class="mb-3">Delete circle</h5>
                                        {{ deleteCircleForm.hidden_tag() }}
                                        <span class="text-muted small">Confirm by typing the circle's name</span>
                                        {{ deleteCircleForm.confirm_name_input(class="d-none", value=this_circle.name) }}
                                        {{ deleteCircleForm.name_input(class="form-control form-control-sm", placeholder=this_circle.name, minlength=2) }}
                                        {{ deleteCircleForm.submit_input(class="btn btn-danger float-right btn-block mt-3") }}
                                    </form>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                        {% else %}
                            {% if this_circle["visitor_auth"] == 0 %}
                                <form method="POST" action="{{ url_for('circle.join', circle_pid=this_circle['public_id']) }}">
                                    {{ joinCircleForm.hidden_tag() }}
                                    <div class="form-group">
                                        {{ joinCircleForm.submit_input(class="btn btn-primary") }}
                                    </div>
                                </form>
                            {% elif this_circle["visitor_auth"] == 1 %}
                                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#cancelJoinModal">
                                    Pending
                                </button>
                                <div class="modal fade" id="cancelJoinModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable">
                                    <form class="modal-content" method="POST" action="{{ url_for('circle.leave', circle_pid=this_circle['public_id']) }}" enctype="multipart/form-data">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Cancel join request</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                            {{ leaveCircleForm.hidden_tag() }}
                                            {{ leaveCircleForm.member_input(class="d-none", value=current_user["public_id"]) }}
                                            {{ leaveCircleForm.confirm_name_input(class="d-none", value=this_circle["name"]) }}
                                            Are you sure you want to cancel join request?
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        {{ leaveCircleForm.submit_input(class="btn btn-primary", value="Cancel join request") }}
                                        </div>
                                    </form>
                                    </div>
                                </div>
                            {% else %}
                                {% if this_circle["member_count"] != 1 %}
                                    <form method="POST" action="{{ url_for('circle.leave', circle_pid=this_circle['public_id']) }}">
                                        {{ leaveCircleForm.hidden_tag() }}
                                        <div class="form-group">
                                            {{ leaveCircleForm.member_input(class="d-none", value=current_user["public_id"]) }}
                                            {{ leaveCircleForm.name_input(class="d-none", value=this_circle["name"]) }}
                                            {{ leaveCircleForm.submit_input(class="btn btn-outline-danger", value="Leave circle") }}
                                        </div>
                                    </form>
                                {% else %}
                                    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#leaveCircleModal">
                                        Leave circle
                                    </button>
                                    <div class="modal fade" id="leaveCircleModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Leave circle</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <form class="border-top modal-body" method="POST" action="{{ url_for('circle.leave', circle_pid=this_circle.public_id) }}">
                                                <h5 class="mb-3">Leave circle</h5>
                                                {{ leaveCircleForm.hidden_tag() }}
                                                <span class="text-muted small">Confirm by typing the circle's name</span>
                                                {{ leaveCircleForm.member_input(class="d-none", value=current_user["public_id"]) }}
                                                {{ leaveCircleForm.confirm_name_input(class="d-none", value=this_circle.name) }}
                                                {{ leaveCircleForm.name_input(class="form-control form-control-sm", placeholder=this_circle.name, minlength=2) }}
                                                {{ leaveCircleForm.submit_input(class="btn btn-danger float-right btn-block mt-3") }}
                                            </form>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="">
                    <div class="d-flex flex-column ml-2 container">
                        <span>Bio: {{ this_circle.bio }}</span>
                        <span>Type: {% for type in this_circle._type %}| {{ type.name }} {% endfor %}</span>
                    </div>
                </div>
                <ul class="nav row m-0 border rounded mt-3">
                    <li class="nav-item col d-flex justify-content-center">
                      <a class="nav-link active" href="{{ url_for('circle.posts', circle_pid=this_circle['public_id']) }}">Posts</a>
                    </li>
                    <li class="nav-item col d-flex justify-content-center">
                      <a class="nav-link" href="#">Media</a>
                    </li>
                    <li class="nav-item col d-flex justify-content-center">
                        <a class="nav-link" href="{{ url_for('circle.confirmed_members', circle_pid=this_circle['public_id']) }}">Members</a>
                    </li>
                </ul>
            </div>
            {% if this_circle["visitor_auth"] > 1 %}
                {% if createPostForm %}
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#createPostModal">
                        Create post
                    </button>
                    <div class="modal fade" id="createPostModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                        <form class="modal-content" method="POST" action="{{ url_for('post.create') }}" enctype="multipart/form-data">
                            <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Create post</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                {{ createPostForm.hidden_tag() }}
                                {{ createPostForm.pinboard_input(class="d-none") }}
                                {{ createPostForm.confiner_input(class="d-none", value=this_circle["public_id"]) }}
                                <div class="form-group">
                                    {{ createPostForm.photo_input.label }}
                                    {{ createPostForm.photo_input(class="form-control form-control-sm") }}
                                </div>
                                <div class="form-group">
                                    {{ createPostForm.content_input.label }}
                                    {{ createPostForm.content_input(class="form-control form-control-sm") }}
                                </div>
                                <div class="form-group">
                                    {{ createPostForm.subject_input.label }}
                                    {{ createPostForm.subject_input(class="form-control form-control-sm") }}
                                </div>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            {{ createPostForm.submit_input(class="btn btn-primary") }}
                            </div>
                        </form>
                        </div>
                    </div>
                    {% for post in post_list %}
                        <div class="container-fluid border p-4 mt-3">
                            <div class="d-flex flex-row">
                                <img src="{{ config.MEDIA_STORAGE + post['photo'] }}" alt="..." class="rounded d-block w-25 border">
                                <div class="d-flex flex-column ml-2 container">
                                    <a href="{{ url_for('user.pets', username=post.creator_username) }}" class="lead">{{ post.creator_name }}</a>
                                    <br>
                                    <a href="{{ url_for('post.comments', post_pid=post.public_id) }}">Content: {{ post.content }}</a>
                                    <span>Registered on: {{ post.registered_on }}</span>
                                    {% if post.pinboard_id %}
                                        <span>Within business: <a href="{{ url_for('business.posts', business_pid=post.pinboard_id) }}">{{ post.pinboard_name }}</a></span>
                                    {% endif %}
                                    {% if post.confiner_id %}
                                        <span>Within circle: <a href="{{ url_for('circle.posts', circle_pid=post.confiner_id) }}">{{ post.confiner_name }}</a></span>
                                    {% endif %}
                                    <span>
                                        Tagged pets:
                                        <div class="d-flex flex-row">
                                            {% for subject in post.subject %}
                                                <a href="{{ url_for('pet.posts', pet_pid=subject.public_id) }}" class="badge bg-light">{{ subject.name }}</a>
                                            {% endfor %}
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <nav aria-label="Page navigation">
                        <ul class="pagination rounded mt-3 justify-content-center">
                          <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                          </li>
                        </ul>
                    </nav>
                {% elif inviteMemberForm %}
                    {% if this_circle["admin_id"] == current_user["public_id"] %}
                        <ul class="nav row m-0 border rounded">
                            <li class="nav-item col d-flex justify-content-center">
                                <a class="nav-link" href="{{ url_for('circle.confirmed_members', circle_pid=this_circle['public_id']) }}">Confirmed</a>
                            </li>
                            <li class="nav-item col d-flex justify-content-center">
                                <a class="nav-link" href="{{ url_for('circle.pending_members', circle_pid=this_circle['public_id']) }}">Pending</a>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-primary btn-block mt-3" data-toggle="modal" data-target="#createPostModal">
                            Invite member
                        </button>
                        {#
                        <div class="modal fade" id="createPostModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                            <form class="modal-content" method="POST" action="{{ url_for('post.create') }}" enctype="multipart/form-data">
                                <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Create post</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    {{ createPostForm.hidden_tag() }}
                                    {{ createPostForm.pinboard_input(class="d-none") }}
                                    {{ createPostForm.confiner_input(class="d-none", value=this_circle["public_id"]) }}
                                    <div class="form-group">
                                        {{ createPostForm.photo_input.label }}
                                        {{ createPostForm.photo_input(class="form-control form-control-sm") }}
                                    </div>
                                    <div class="form-group">
                                        {{ createPostForm.content_input.label }}
                                        {{ createPostForm.content_input(class="form-control form-control-sm") }}
                                    </div>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                {{ createPostForm.submit_input(class="btn btn-primary") }}
                                </div>
                            </form>
                            </div>
                        </div>#}
                    {% endif %}
                    {% for member in member_list %}
                        <a href="{{ url_for('user.pets', username=member.username) }}" class="container-fluid border p-4 mt-3">
                            <div class="d-flex flex-row">
                                <img src="{{ config.MEDIA_STORAGE + member['photo'] }}" alt="..." class="rounded d-block w-25 border">
                                <div class="d-flex flex-column ml-2 container">
                                    <span>{{ member.name }}</span>
                                    <span>{{ member.username }}</span>
                                </div>
                                {% if acceptCircleForm and this_circle["admin_id"] == current_user["public_id"] %}
                                    <div class="float-right">
                                        <div class="d-flex flex-row">
                                            <form method="POST" action="{{ url_for('circle.accept', circle_pid=this_circle['public_id']) }}" enctype="multipart/form-data">
                                                {{ acceptCircleForm.hidden_tag() }}
                                                {{ acceptCircleForm.member_input(class="d-none", value=member["public_id"]) }}
                                                {{ acceptCircleForm.submit_input(class="btn btn-primary") }}
                                            </form>
                                            <form method="POST" action="{{ url_for('circle.leave', circle_pid=this_circle['public_id']) }}" enctype="multipart/form-data">
                                                {{ leaveCircleForm.hidden_tag() }}
                                                {{ leaveCircleForm.member_input(class="d-none", value=member["public_id"]) }}
                                                {{ leaveCircleForm.submit_input(class="btn btn-outline-danger ml-2", value="Remove") }}
                                            </form>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </a>
                    {% endfor %}
                    <nav aria-label="Page navigation">
                        <ul class="pagination rounded mt-3 justify-content-center">
                          <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                          </li>
                        </ul>
                    </nav>
                {% endif %}
            {% else %}
                <div class="jumbotron jumbotron-fluid p-2 d-flex justify-content-center">
                    <h5>Join circle to see its updates.</h5>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}