{% extends "layout.html" %}
{% from "component/navbar.html" import loaded_navbar %}
{% from "component/post.html" import post_creator, post_remover, post_bi %}

{% block content %}
    {{ loaded_navbar(current_user, homeNavbarActive="active") }}
    {{ post_remover(deletePostForm) }}
    <div class="container-fluid d-flex flex-row justify-content-center pt-5 my-3">
        <div class="c-center d-flex flex-column">           
            <div class="fd-cont row row-cols-1 row-cols-md-1 p-0">
                <div class="cr-pst-c col p-0">
                    <div class="pt-3">
                        {{ post_creator(current_user, createPostForm) }}
                    </div>
                </div>
                <div class="fd-ld col p-0 d-flex align-items-center justify-content-center mt-3">
                    <div class="spinner-grow text-primary" role="status"></div>
                </div>
                <div class="fd-st mt-2 d-flex align-items-center justify-content-center">
                    <span class="badge badge-light"></span>
                </div>
                <div hidden=True class="fd-pi col p-0" query-url="/post/">
                    {{ post_bi() }}
                </div>
            </div>
        </div>
        <div class="ss-cr d-flex flex-column">
            <div class="ptf-c list-group pt-3">
                <span class="list-group-item font-weight-bold p-3">
                    Pets to follow
                </span>
                <div hidden=True class="ptf-c-bi list-group-item d-flex flex-row justify-content-between p-3">
                    <div class="d-flex flex-row align-items-center">
                        <img class="home-sidebar-profPic" src="{{ config.MEDIA_STORAGE }}" alt="..." class="rounded d-block w-25 border">
                        <div class="d-flex flex-column ml-2">
                            <a class="font-weight-bold text-decoration-none text-dark" base-url="{{ url_for('pet.posts', pet_pid='') }}"></a>
                            <span class="small text-muted"><span class="ptf-c-bi-s"></span> &middot; <span class="ptf-c-bi-b"></span></span>
                            <span class="small text-muted ptf-c-bi-fc mt-1"></span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center ml-5">
                        <button type="button" class="btn btn-outline-success btn-sm">
                            Follow
                        </button>
                    </div>
                </div>
                <div class="ptf-c-ld spinner-grow text-primary mx-auto mt-2" style="width:20px;height:20px;" role="status"></div>
            </div>
            <div class="btf-c list-group pt-3">
                <span class="list-group-item font-weight-bold p-3">
                    Businesses to follow
                </span>
                <div hidden=True class="btf-c-bi list-group-item d-flex flex-row justify-content-between p-3">
                    <div class="d-flex flex-row align-items-center">
                        <img class="home-sidebar-profPic" src="{{ config.MEDIA_STORAGE }}" alt="..." class="rounded d-block w-25 border">
                        <div class="d-flex flex-column ml-2">
                            <a class="font-weight-bold text-decoration-none text-dark" base-url="{{ url_for('business.posts', business_pid='') }}"></a>
                            <span class="small text-muted btf-c-bi-t"></span>
                            <span class="small text-muted btf-c-bi-fc mt-1"></span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center ml-5">
                        <button type="button" class="btn btn-outline-success btn-sm">
                            Follow
                        </button>
                    </div>
                </div>
                <div class="btf-c-ld spinner-grow text-primary mx-auto mt-2" style="width:20px;height:20px;" role="status"></div>
            </div>
            <div class="ctf-c list-group pt-3">
                <span class="list-group-item font-weight-bold p-3">
                    Circles to join
                </span>
                <div hidden=True class="ctf-c-bi list-group-item d-flex flex-row justify-content-between p-3">
                    <div class="d-flex flex-row align-items-center">
                        <img class="home-sidebar-profPic" src="{{ config.MEDIA_STORAGE }}" alt="..." class="rounded d-block w-25 border">
                        <div class="d-flex flex-column ml-2">
                            <a class="font-weight-bold text-decoration-none text-dark" base-url="{{ url_for('circle.posts', circle_pid='') }}"></a>
                            <span class="small text-muted ctf-c-bi-t"></span>
                            <span class="small text-muted ctf-c-bi-mc mt-1"></span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center ml-5">
                        <button type="button" class="btn btn-outline-success btn-sm">
                            Join
                        </button>
                    </div>
                </div>
                <div class="ctf-c-ld spinner-grow text-primary mx-auto mt-2" style="width:20px;height:20px;" role="status"></div>
            </div>
        </div>
    </div>
{% endblock %}





