{% extends "layout.html" %}
{% from "component/navbar.html" import loaded_navbar %}
{% from "component/post.html" import post_creator, post_remover, post_bi %}

{% block content %}
    {{ loaded_navbar(current_user, homeNavbarActive="active") }}
    {{ post_remover(deletePostForm) }}
    <div class="container-fluid d-flex justify-content-center pt-5 my-3">
        <div class="c-center d-flex flex-column">           
            <div class="fd-cont row row-cols-1 row-cols-md-1 p-0">
                <div class="col p-0">
                    <div class="pt-3">
                        {{ post_creator(current_user, createPostForm) }}
                    </div>
                </div>
                <div class="fd-ld col p-0 d-flex align-items-center justify-content-center mt-3">
                    <div class="spinner-grow text-primary" role="status"></div>
                </div>
                <div class="fd-st mt-2 d-flex align-items-center justify-content-center">
                    <span class="badge badge-light"></span>
                </div>
                <div hidden=True class="fd-pi col p-0" query-url="/post/">
                    {{ post_bi() }}
                </div>
            </div>
        </div>
        <div class="list-group" style="margin-left:50px; margin-top:-7px; width: 18rem;">
            <div class="list-group" style="margin-left:50px; margin-top:15px">
                <div class="row">
                    <div class="d-flex flex-row justify-content-between font-weight-bold hci-bb-l" >
                        Businesses to follow
                    </div>
                    <div class="d-flex flex-row justify-content-between">
                        <a class="d-flex flex-row" style="margin-top:3px" href="#" >
                            <img class="home-content-profPic" style="margin-top:3px" src="{{ config.MEDIA_STORAGE + current_user['photo'] }}" alt="..." class="rounded d-block w-25 border">
                            <div class="d-flex flex-column ml-2 container">
                                <span class="font-weight-bold hci-bb-l">{{ current_user.name }}&nbsp;&nbsp;<span class="badge bg-primary text-light"></span></span> <span style="font-size:15px;">type:</span>
                            </div>
                        </a>
                        <div class="float-right" style="margin-top:12px">
                            <button type="button" class="btn btn-outline-success">
                                Follow
                            </button>
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <a class="d-flex flex-row" style="margin-top:3px" href="#" >
                        <img class="home-content-profPic" style="margin-top:3px" src="{{ config.MEDIA_STORAGE + current_user['photo'] }}" alt="..." class="rounded d-block w-25 border">
                        <div class="d-flex flex-column ml-2 container">
                            <span class="font-weight-bold hci-bb-l">{{ current_user.name }}&nbsp;&nbsp;<span class="badge bg-primary text-light"></span></span> <span style="font-size:15px;">type:</span>
                        </div>
                    </a>
                    <div class="float-right" style="margin-top:12px">
                        <button type="button" class="btn btn-outline-success">
                            Follow
                        </button>
                    </div>
                    <div class="w-100"></div>
                    <a class="d-flex flex-row" style="margin-top:3px" href="#" >
                        <img class="home-content-profPic" style="margin-top:3px" src="{{ config.MEDIA_STORAGE + current_user['photo'] }}" alt="..." class="rounded d-block w-25 border">
                        <div class="d-flex flex-column ml-2 container">
                            <span class="font-weight-bold hci-bb-l">{{ current_user.name }}&nbsp;&nbsp;<span class="badge bg-primary text-light"></span></span> <span style="font-size:15px;">type:</span>
                        </div>
                    </a>
                    <div class="float-right" style="margin-top:12px">
                        <button type="button" class="btn btn-outline-success">
                            Follow
                        </button>
                    </div>
                    <div class="d-flex flex-row justify-content-between font-weight-bold hci-bb-l" style="margin-top:6px;">
                        Circles to follow
                    </div>
                    <div class="d-flex flex-row justify-content-between">
                        <a class="d-flex flex-row" style="margin-top:3px" href="#" >
                            <img class="home-content-profPic" style="margin-top:3px" src="{{ config.MEDIA_STORAGE + current_user['photo'] }}" alt="..." class="rounded d-block w-25 border">
                            <div class="d-flex flex-column ml-2 container">
                                <span class="font-weight-bold hci-bb-l">{{ current_user.name }}&nbsp;&nbsp;<span class="badge bg-primary text-light"></span></span> <span style="font-size:15px;">type:</span>
                            </div>
                        </a>
                        <div class="float-right" style="margin-top:12px">
                            <button type="button" class="btn btn-outline-success">
                                Follow
                            </button>
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <a class="d-flex flex-row" style="margin-top:3px" href="#" >
                        <img class="home-content-profPic" style="margin-top:3px" src="{{ config.MEDIA_STORAGE + current_user['photo'] }}" alt="..." class="rounded d-block w-25 border">
                        <div class="d-flex flex-column ml-2 container">
                            <span class="font-weight-bold hci-bb-l">{{ current_user.name }}&nbsp;&nbsp;<span class="badge bg-primary text-light"></span></span> <span style="font-size:15px;">type:</span>
                        </div>
                    </a>
                    <div class="float-right" style="margin-top:12px">
                        <button type="button" class="btn btn-outline-success">
                            Follow
                        </button>
                    </div>
                    <div class="w-100"></div>
                    <a class="d-flex flex-row" style="margin-top:3px" href="#" >
                        <img class="home-content-profPic" style="margin-top:3px" src="{{ config.MEDIA_STORAGE + current_user['photo'] }}" alt="..." class="rounded d-block w-25 border">
                        <div class="d-flex flex-column ml-2 container">
                            <span class="font-weight-bold hci-bb-l">{{ current_user.name }}&nbsp;&nbsp;<span class="badge bg-primary text-light"></span></span> <span style="font-size:15px;">type:</span>
                        </div>
                    </a>
                    <div class="float-right" style="margin-top:12px">
                        <button type="button" class="btn btn-outline-success">
                            Follow
                        </button>
                    </div>
                    <div class="d-flex flex-row justify-content-between font-weight-bold hci-bb-l" style="margin-top:6px;">
                        Pets to follow
                    </div>
                    <div class="d-flex flex-row justify-content-between">
                        <a class="d-flex flex-row" style="margin-top:3px" href="#" >
                            <img class="home-content-profPic" style="margin-top:3px" src="{{ config.MEDIA_STORAGE + current_user['photo'] }}" alt="..." class="rounded d-block w-25 border">
                            <div class="d-flex flex-column ml-2 container">
                                <span class="font-weight-bold hci-bb-l">{{ current_user.name }}&nbsp;&nbsp;<span class="badge bg-primary text-light"></span></span> <span style="font-size:15px;">specie:</span><span style="font-size:15px;">breed:</span>
                            </div>
                        </a>
                        <div class="float-right" style="margin-top:12px">
                            <button type="button" class="btn btn-outline-success">
                                Follow
                            </button>
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <a class="d-flex flex-row" style="margin-top:3px" href="#" >
                        <img class="home-content-profPic" style="margin-top:3px" src="{{ config.MEDIA_STORAGE + current_user['photo'] }}" alt="..." class="rounded d-block w-25 border">
                        <div class="d-flex flex-column ml-2 container">
                            <span class="font-weight-bold hci-bb-l">{{ current_user.name }}&nbsp;&nbsp;<span class="badge bg-primary text-light"></span></span> <span style="font-size:15px;">specie:</span><span style="font-size:15px;">breed:</span>
                        </div>
                    </a>
                    <div class="float-right" style="margin-top:12px">
                        <button type="button" class="btn btn-outline-success">
                            Follow
                        </button>
                    </div>
                    <div class="w-100"></div>
                    <a class="d-flex flex-row" style="margin-top:3px" href="#" >
                        <img class="home-content-profPic" style="margin-top:3px" src="{{ config.MEDIA_STORAGE + current_user['photo'] }}" alt="..." class="rounded d-block w-25 border">
                        <div class="d-flex flex-column ml-2 container">
                            <span class="font-weight-bold hci-bb-l">{{ current_user.name }}&nbsp;&nbsp;<span class="badge bg-primary text-light"></span></span> <span style="font-size:15px;">specie:</span><span style="font-size:15px;">breed:</span>
                        </div>
                    </a>
                    <div class="float-right" style="margin-top:12px">
                        <button type="button" class="btn btn-outline-success">
                            Follow
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}





