{% extends "layout.html" %}
{% from "component/navbar.html" import loaded_navbar %}
{% from "component/post.html" import post_creator, post %}

{% block content %}
    {{ loaded_navbar(current_user) }}
    <div class="container-fluid d-flex justify-content-center pt-5 my-3">
        <div class="d-flex flex-column w-50">           
            <div class="row row-cols-1 row-cols-md-1 p-0">
                <div class="col p-0">
                    <div class="pt-3">
                        {{ post_creator(current_user, createPostForm) }}
                    </div>
                </div>
                {% for _post in all_Posts %}
                    <div class="col p-0">
                        {{ post(current_user, _post) }}
                    </div>
                {% endfor %}
            </div>
        </div> 
    </div>
{% endblock %}





