{% extends "layout.html" %}
{% from "component/navbar.html" import loaded_navbar %}
{% from "component/post.html" import comment_creator, post, comment %}

{% block content %}
    {{ loaded_navbar(current_user) }}
    <div class="container-fluid d-flex justify-content-center pt-5 my-3">
        <div class="d-flex flex-column w-50">
            {{ post(current_user, this_post) }}
            <div class="container pl-5 mr-5">
                <div class="row row-cols-1 row-cols-md-1 p-0">
                    <div class="col p-0">
                        <div class="pt-3">
                            {{ comment_creator(current_user, this_post, createCommentForm) }}
                        </div>
                    </div>
                    {% for _comment in comment_list %}
                        <div class="col p-0">
                            {{ comment(current_user, _comment) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="deleteCommentModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
        <form class="modal-content" method="POST" action="{{ url_for('comment.delete', comment_pid='') }}" enctype="multipart/form-data">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Delete comment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                {{ deleteCommentForm.hidden_tag() }}
                {{ deleteCommentForm.parent_input(hidden=True, value=this_post.public_id) }}
                Are you sure you want to delete your comment?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            {{ deleteCommentForm.submit_input(class="btn btn-primary") }}
            </div>
        </form>
        </div>
    </div>
    <div class="modal" id="deletePostModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
        <form class="modal-content" method="POST" action="{{ url_for('comment.delete', comment_pid='') }}" enctype="multipart/form-data">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Delete comment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                {{ deletePostForm.hidden_tag() }}
                Are you sure you want to delete your comment?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            {{ deletePostForm.submit_input(class="btn btn-primary") }}
            </div>
        </form>
        </div>
    </div>
{% endblock %}