{% extends "layout.html" %}
{% from "component/navbar.html" import loaded_navbar %}
{% from "component/post.html" import post_creator, post_remover, post_bi %}

{% block content %}
    {{ loaded_navbar(current_user, profileNavbarActive="active") }}
    <div class="container-fluid d-flex justify-content-center pt-5 my-3">
        <div class="c-center d-flex flex-column">
            <div class="container-fluid border mt-3 pt-5 rounded w-100 d-flex flex-column mb-3">
                <div class="d-flex flex-row align-items-center justify-content-between mb-5">
                    <div class="d-flex flex-row align-items-center">
                        <img class="uccp-cont" src="{{ config.MEDIA_STORAGE + this_user['photo'] }}">
                        <div class="d-flex flex-column ml-3">
                            <span class="font-weight-normal h5 m-0">{{ this_user["name"] }}</span>
                            <p class="small text-muted m-0">@{{ this_user["username"] }}</p>
                        </div>
                    </div>
                    {% if editProfileForm %}
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editProfileModal">
                            Update profile
                        </button>
                        <div class="modal" id="editProfileModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Edit profile</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <form class="modal-body" method="POST" action="{{ url_for('user.edit_photo', user_pid=current_user['public_id']) }}" enctype="multipart/form-data">
                                        {{ editPhotoForm.hidden_tag() }}
                                        <div class="form-group">
                                            {{ editPhotoForm.photo_input.label }}
                                            {{ editPhotoForm.photo_input(class="form-control form-control-sm") }}
                                        </div>
                                        {{ editPhotoForm.submit_input(class="btn btn-primary btn-block") }}
                                    </form>
                                    <form class="modal-body" method="POST" action="{{ url_for('user.edit_profile', user_pid=current_user['public_id']) }}">
                                        {{ editProfileForm.hidden_tag() }}
                                        <div class="form-group">
                                            {{ editProfileForm.name_input.label }}
                                            {{ editProfileForm.name_input(class="form-control form-control-sm") }}
                                        </div>
                                        {{ editProfileForm.submit_input(class="btn btn-primary btn-block") }}
                                    </form>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% if this_user["public_id"] == current_user["public_id"] %}
                    <div class="d-flex flex-row justify-content-between">
                        <div class="nav-item d-flex justify-content-center">
                        <a class="nav-link active" href="{{ url_for('user.pets', username=this_user['username']) }}">Pets</a>
                        </div>
                        <div class="nav-item d-flex justify-content-center">
                            <a class="nav-link active" href="{{ url_for('user.posts', username=this_user['username']) }}">Posts</a>
                        </div>
                        <div class="nav-item d-flex justify-content-center">
                        <a class="nav-link" href="{{ url_for('user.businesses', username=this_user['username']) }}">Businesses</a>
                        </div>
                        <div class="nav-item d-flex justify-content-center">
                            <a class="nav-link" href="{{ url_for('user.circles', username=this_user['username']) }}">Circles</a>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% if createPetForm %}
                {% if this_user["public_id"] == current_user["public_id"] %}
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#createPetModal">
                        Create pet profile
                    </button>
                    <div class="modal" id="createPetModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                        <form class="modal-content" method="POST" action="{{ url_for('pet.create') }}" enctype="multipart/form-data" token="{{ session['booped_in'] }}" api-domain="{{ config.API_DOMAIN }}">
                            <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Create pet</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                {{ createPetForm.hidden_tag() }}
                                <div class="form-group">
                                    {{ createPetForm.photo_input.label }}
                                    {{ createPetForm.photo_input(class="form-control form-control-sm") }}
                                </div>
                                <div class="form-group">
                                    {{ createPetForm.name_input.label }}
                                    {{ createPetForm.name_input(class="form-control form-control-sm") }}
                                </div>
                                <div class="form-group">
                                    {{ createPetForm.bio_input.label }}
                                    {{ createPetForm.bio_input(class="form-control form-control-sm") }}
                                </div>
                                <div class="form-group">
                                    {{ createPetForm.birthday_input.label }}
                                    {{ createPetForm.birthday_input(class="form-control form-control-sm") }}
                                </div>
                                <div class="form-group">
                                    {{ createPetForm.sex_input.label }}
                                    {% for subfield in createPetForm.sex_input %}
                                    <div class="row container-fluid is-invalid">
                                        <div class="col-1">
                                        {{ subfield }}
                                        </div>
                                        <div class="col-8">
                                        {{ subfield.label(class="small") }}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    {{ createPetForm.private_input.label }}
                                    {% for subfield in createPetForm.private_input %}
                                    <div class="row container-fluid is-invalid">
                                        <div class="col-1">
                                        {{ subfield }}
                                        </div>
                                        <div class="col-8">
                                        {{ subfield.label(class="small") }}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    {{ createPetForm.group_input.label }}
                                    {{ createPetForm.group_input(class="form-control form-control-sm") }}
                                </div>
                                <div class="form-group">
                                    {{ createPetForm.subgroup_input.label }}
                                    {{ createPetForm.subgroup_input(class="form-control form-control-sm") }}
                                </div>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            {{ createPetForm.submit_input(class="btn btn-primary") }}
                            </div>
                        </form>
                        </div>
                    </div>
                {% endif %}
                {% for pet in pet_list %}
                    <div class="container-fluid border p-4 mt-3">
                        <div class="d-flex flex-row">
                            <img src="{{ config.MEDIA_STORAGE + pet['photo'] }}" alt="..." class="rounded d-block w-25 border">
                            <div class="d-flex flex-column ml-2 container">
                                <a href="{{ url_for('pet.posts', pet_pid=pet.public_id) }}" class="h4">{{ pet.name }}</a>
                                <span>Bio: {{ pet.bio }}</span>
                                <span>Birthday: <span class="pi-bd">{{ pet.birthday }}</span></span>
                                <span>Sex: {%if pet.sex == 0 %}Male{%else%}Female{%endif%}</span>
                                <span>Specie: {{ pet.group_name }}</span>
                                <span>Breed: {{ pet.subgroup_name }}</span>
                            </div>
                            <div class="d-flex align-items-center">
                                {% if pet["visitor_auth"] == 2 %}
                                    <form method="POST" action="{{ url_for('pet.unfollow', pet_pid=pet['public_id']) }}">
                                        {{ unfollowPetForm.hidden_tag() }}
                                        <div class="form-group">
                                            {{ unfollowPetForm.follower_input(hidden=True, value=current_user["public_id"]) }}
                                            {{ unfollowPetForm.submit_input(class="btn btn-outline-danger", value="Unfollow") }}
                                        </div>
                                    </form>
                                {% elif pet["visitor_auth"] == 1 %}
                                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#cancelFollowModal">
                                        Pending
                                    </button>
                                    <div class="modal" id="cancelFollowModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-scrollable">
                                        <form class="modal-content" method="POST" action="{{ url_for('pet.unfollow', pet_pid=pet['public_id']) }}">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Cancel follow request</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body">
                                                {{ unfollowPetForm.hidden_tag() }}
                                                {{ unfollowPetForm.follower_input(hidden=True, value=current_user["public_id"]) }}
                                                Are you sure you want to cancel follow request?
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            {{ unfollowPetForm.submit_input(class="btn btn-primary", value="Cancel follow request") }}
                                            </div>
                                        </form>
                                        </div>
                                    </div>
                                {% elif pet["visitor_auth"] == 0 %}
                                    <form method="POST" action="{{ url_for('pet.follow', pet_pid=pet['public_id']) }}">
                                        {{ followPetForm.hidden_tag() }}
                                        <div class="form-group">
                                            {{ followPetForm.submit_input(class="btn btn-primary") }}
                                        </div>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <nav aria-label="Page navigation">
                    <ul class="pagination rounded mt-3 justify-content-center">
                      <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                      </li>
                    </ul>
                </nav>
            {% elif createPostForm %}
                {{ post_remover(deletePostForm) }}
                <div class="container">
                    <div class="fd-cont row row-cols-1 row-cols-md-1 p-0">
                        {% if this_user["public_id"] == current_user["public_id"] %}
                            <div class="col p-0">
                                <div class="pt-3">
                                    {{ post_creator(current_user, createPostForm) }}
                                </div>
                            </div>
                        {% endif %}
                        <div class="fd-ld col p-0 d-flex align-items-center justify-content-center mt-3">
                            <div class="spinner-grow text-primary" role="status"></div>
                        </div>
                        <div class="fd-st mt-2 d-flex align-items-center justify-content-center">
                            <span class="badge badge-light"></span>
                        </div>
                        <div hidden=True class="fd-pi col p-0" query-url="/post/bytoken">
                            {{ post_bi() }}
                        </div>
                    </div>
                </div>
            {% elif createBusinessForm %}
                <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#createBusinessModal">
                    Create business profile
                </button>
                <div class="modal" id="createBusinessModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                    <form class="modal-content" method="POST" action="{{ url_for('business.create') }}" enctype="multipart/form-data">
                        <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Create business</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            {{ createBusinessForm.hidden_tag() }}
                            <div class="form-group">
                                {{ createBusinessForm.photo_input.label }}
                                {{ createBusinessForm.photo_input(class="form-control form-control-sm") }}
                            </div>
                            <div class="form-group">
                                {{ createBusinessForm.name_input.label }}
                                {{ createBusinessForm.name_input(class="form-control form-control-sm") }}
                            </div>
                            <div class="form-group">
                                {{ createBusinessForm.bio_input.label }}
                                {{ createBusinessForm.bio_input(class="form-control form-control-sm") }}
                            </div>
                            <div class="form-group">
                                {{ createBusinessForm.type_input.label }}
                                {{ createBusinessForm.type_input(class="form-control form-control-sm") }}
                            </div>
                            Opening days
                            <hr>
                            <div class="form-group cbf-ot-cont d-flex justify-content-between mx-3">
                                <div class="cbf-ot-cb">
                                    {{ createBusinessForm.mon_open_bool }}
                                    {{ createBusinessForm.mon_open_bool.label }}
                                </div>
                                <div class="cbf-ot-t">
                                    <span class="text-muted small">Open:</span>
                                    {{ createBusinessForm.mon_open_time(value="01:00", step='3600') }}
                                    <span class="text-muted small">Close:</span>
                                    {{ createBusinessForm.mon_close_time(value="01:00", step='3600') }}
                                </div>
                            </div>
                            <div class="form-group cbf-ot-cont d-flex justify-content-between mx-3">
                                <div class="cbf-ot-cb">
                                    {{ createBusinessForm.tue_open_bool }}
                                    {{ createBusinessForm.tue_open_bool.label }}
                                </div>
                                <div class="cbf-ot-t">
                                    <span class="text-muted small">Open:</span>
                                    {{ createBusinessForm.tue_open_time(value="01:00", step='3600') }}
                                    <span class="text-muted small">Close:</span>
                                    {{ createBusinessForm.tue_close_time(value="01:00", step='3600') }}
                                </div>
                            </div>
                            <div class="form-group cbf-ot-cont d-flex justify-content-between mx-3">
                                <div class="cbf-ot-cb">
                                    {{ createBusinessForm.wed_open_bool }}
                                    {{ createBusinessForm.wed_open_bool.label }}
                                </div>
                                <div class="cbf-ot-t">
                                    <span class="text-muted small">Open:</span>
                                    {{ createBusinessForm.wed_open_time(value="01:00", step='3600') }}
                                    <span class="text-muted small">Close:</span>
                                    {{ createBusinessForm.wed_close_time(value="01:00", step='3600') }}
                                </div>
                            </div>
                            <div class="form-group cbf-ot-cont d-flex justify-content-between mx-3">
                                <div class="cbf-ot-cb">
                                    {{ createBusinessForm.thu_open_bool }}
                                    {{ createBusinessForm.thu_open_bool.label }}
                                </div>
                                <div class="cbf-ot-t">
                                    <span class="text-muted small">Open:</span>
                                    {{ createBusinessForm.thu_open_time(value="01:00", step='3600') }}
                                    <span class="text-muted small">Close:</span>
                                    {{ createBusinessForm.thu_close_time(value="01:00", step='3600') }}
                                </div>
                            </div>
                            <div class="form-group cbf-ot-cont d-flex justify-content-between mx-3">
                                <div class="cbf-ot-cb">
                                    {{ createBusinessForm.fri_open_bool }}
                                    {{ createBusinessForm.fri_open_bool.label }}
                                </div>
                                <div class="cbf-ot-t">
                                    <span class="text-muted small">Open:</span>
                                    {{ createBusinessForm.fri_open_time(value="01:00", step='3600') }}
                                    <span class="text-muted small">Close:</span>
                                    {{ createBusinessForm.fri_close_time(value="01:00", step='3600') }}
                                </div>
                            </div>
                            <div class="form-group cbf-ot-cont d-flex justify-content-between mx-3">
                                <div class="cbf-ot-cb">
                                    {{ createBusinessForm.sat_open_bool }}
                                    {{ createBusinessForm.sat_open_bool.label }}
                                </div>
                                <div class="cbf-ot-t">
                                    <span class="text-muted small">Open:</span>
                                    {{ createBusinessForm.sat_open_time(value="01:00", step='3600') }}
                                    <span class="text-muted small">Close:</span>
                                    {{ createBusinessForm.sat_close_time(value="01:00", step='3600') }}
                                </div>
                            </div>
                            <div class="form-group cbf-ot-cont d-flex justify-content-between mx-3">
                                <div class="cbf-ot-cb">
                                    {{ createBusinessForm.sun_open_bool }}
                                    {{ createBusinessForm.sun_open_bool.label }}
                                </div>
                                <div class="cbf-ot-t">
                                    <span class="text-muted small">Open:</span>
                                    {{ createBusinessForm.sun_open_time(value="01:00", step='3600') }}
                                    <span class="text-muted small">Close:</span>
                                    {{ createBusinessForm.sun_close_time(value="01:00", step='3600') }}
                                </div>
                            </div>
                            Create session types (coming soon)
                            <hr>
                            
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        {{ createBusinessForm.submit_input(class="btn btn-primary") }}
                        </div>
                    </form>
                    </div>
                </div>
                {% for business in business_list %}
                    <div class="container-fluid border p-4 mt-3">
                        <div class="d-flex flex-row">
                            <img src="{{ config.MEDIA_STORAGE + business['photo'] }}" alt="..." class="rounded d-block w-25 border">
                            <div class="d-flex flex-column ml-2 container">
                                <a href="{{ url_for('business.posts', business_pid=business.public_id) }}" class="h4">{{ business.name }}</a>
                                <span>Bio: {{ business.bio }}</span>
                                <span>Type: {% for type in business._type %}| {{ type.name }} {% endfor %}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <nav aria-label="Page navigation">
                    <ul class="pagination rounded mt-3 justify-content-center">
                      <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                      </li>
                    </ul>
                </nav>
            {% elif createCircleForm %}
                <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#createCircleModal">
                    Create Circle profile
                </button>
                <div class="modal" id="createCircleModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                    <form class="modal-content" method="POST" action="{{ url_for('circle.create') }}" enctype="multipart/form-data">
                        <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Create circle</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            {{ createCircleForm.hidden_tag() }}
                            <div class="form-group">
                                {{ createCircleForm.photo_input.label }}
                                {{ createCircleForm.photo_input(class="form-control form-control-sm") }}
                            </div>
                            <div class="form-group">
                                {{ createCircleForm.name_input.label }}
                                {{ createCircleForm.name_input(class="form-control form-control-sm") }}
                            </div>
                            <div class="form-group">
                                {{ createCircleForm.bio_input.label }}
                                {{ createCircleForm.bio_input(class="form-control form-control-sm") }}
                            </div>
                            <div class="form-group">
                                {{ createCircleForm.type_input.label }}
                                {{ createCircleForm.type_input(class="form-control form-control-sm") }}
                            </div>                                 
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        {{ createCircleForm.submit_input(class="btn btn-primary") }}
                        </div>
                    </form>
                    </div>
                </div>
                {% for circle in circle_list %}
                    <div class="container-fluid border p-4 mt-3">
                        <div class="d-flex flex-row">
                            <img src="{{ config.MEDIA_STORAGE + circle['photo'] }}" alt="..." class="rounded d-block w-25 border">
                            <div class="d-flex flex-column ml-2 container">
                                <a href="{{ url_for('circle.posts', circle_pid=circle.public_id) }}" class="h4">{{ circle.name }}</a>
                                <span>Bio: {{ circle.bio }}</span>
                                <span>Type: {% for type in circle._type %}| {{ type.name }} {% endfor %}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <nav aria-label="Page navigation">
                    <ul class="pagination rounded mt-3 justify-content-center">
                      <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                      </li>
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
{% endblock %}