{% macro post_gallery_bi() %}
    <div class="row mp-0">
        <div class="f-pi-c-pp f-pi-c-pp-i col gall-item">
            <img class="img-fluid rounded gall-i-s1" src="{{ config.MEDIA_STORAGE }}">
        </div>
        
        <div class="f-pi-c-pp f-pi-c-pp-ii col gall-item gall-p-r">
            <img class="img-fluid rounded gall-i-s5" src="{{ config.MEDIA_STORAGE }}">
        </div>
        <div class="f-pi-c-pp f-pi-c-pp-ii col gall-item gall-p-l">
            <img class="img-fluid rounded gall-i-s5" src="{{ config.MEDIA_STORAGE }}">
        </div>

        <div class="f-pi-c-pp f-pi-c-pp-iii col gall-item gall-p-r">
            <img class="img-fluid rounded gall-i-s5-a" src="{{ config.MEDIA_STORAGE }}">
        </div>
        <div class="f-pi-c-pp f-pi-c-pp-iii col row mp-0">
            <div class="col gall-item gall-p-bl">
                <img class="img-fluid rounded gall-i-s6" src="{{ config.MEDIA_STORAGE }}">
            </div>
            <div class="w-100"></div>
            <div class="col gall-item gall-p-tl">
                <img class="img-fluid rounded gall-i-s6" src="{{ config.MEDIA_STORAGE }}">
            </div>
        </div>

        <div class="f-pi-c-pp f-pi-c-pp-iiii col gall-item gall-p-br">
            <img class="img-fluid rounded gall-i-s6" src="{{ config.MEDIA_STORAGE }}">
        </div>
        <div class="f-pi-c-pp f-pi-c-pp-iiii col gall-item gall-p-bl">
            <img class="img-fluid rounded gall-i-s6" src="{{ config.MEDIA_STORAGE }}">
        </div>
        <div class="f-pi-c-pp f-pi-c-pp-iiii w-100"></div>
        <div class="f-pi-c-pp f-pi-c-pp-iiii col gall-item gall-p-tr">
            <img class="img-fluid rounded gall-i-s6" src="{{ config.MEDIA_STORAGE }}">
        </div>
        <div class="f-pi-c-pp f-pi-c-pp-iiii col gall-item gall-p-tl">
            <img class="img-fluid rounded gall-i-s6" src="{{ config.MEDIA_STORAGE }}">
        </div>
    </div>
{% endmacro %}

{% macro post_gallery_wj(photo_list) %}
    {% set length = photo_list|length %}
    <div class="row p-0 rounded hide-overflow mx-3">
        {% for n in range(length) %}
            {% if loop.length == 1 %}
                <div class="col mp-0">
                    <img class="img-fluid gall-item gall-i-s1" src="{{ config.MEDIA_STORAGE + photo_list[loop.index-1]['filename'] }}">
                </div>
            {% elif loop.length == 2 %}
                {% if loop.index == 1 %}
                    <div class="col mp-0">
                        <img class="img-fluid gall-item gall-i-s5 gall-p-r" src="{{ config.MEDIA_STORAGE + photo_list[loop.index-1]['filename'] }}">
                    </div>
                {% elif loop.index == 2 %}
                    <div class="col mp-0">
                        <img class="img-fluid gall-item gall-i-s5 gall-p-l" src="{{ config.MEDIA_STORAGE + photo_list[loop.index-1]['filename'] }}">
                    </div>
                {% endif %}
            {% elif loop.length == 3 %}
                {% if loop.index == 1 %}
                    <div class="col mp-0">
                        <img class="img-fluid gall-item gall-i-s5 gall-p-r" src="{{ config.MEDIA_STORAGE + photo_list[loop.index-1]['filename'] }}">
                    </div>
                    <div class="col row mp-0">
                {% elif loop.index == 2 %}
                    <div class="col mp-0">
                        <img class="img-fluid gall-item gall-i-s6 gall-p-bl" src="{{ config.MEDIA_STORAGE + photo_list[loop.index-1]['filename'] }}">
                    </div>
                    <div class="w-100"></div>
                {% elif loop.index == 3 %}
                        <div class="col mp-0">
                            <img class="img-fluid gall-item gall-i-s6 gall-p-tl" src="{{ config.MEDIA_STORAGE + photo_list[loop.index-1]['filename'] }}">
                        </div>
                    </div>
                {% endif %}
            {% elif loop.length == 4 %}
                {% if loop.index == 1 %}
                    <div class="col mp-0">
                        <img class="img-fluid gall-item gall-i-s6 gall-p-br" src="{{ config.MEDIA_STORAGE + photo_list[loop.index-1]['filename'] }}">
                    </div>
                {% elif loop.index == 2 %}
                    <div class="col mp-0">
                        <img class="img-fluid gall-item gall-i-s6 gall-p-bl" src="{{ config.MEDIA_STORAGE + photo_list[loop.index-1]['filename'] }}">
                    </div>
                    <div class="w-100"></div>
                {% elif loop.index == 3 %}
                    <div class="col mp-0">
                        <img class="img-fluid gall-item gall-i-s6 gall-p-tr" src="{{ config.MEDIA_STORAGE + photo_list[loop.index-1]['filename'] }}">
                    </div>
                {% elif loop.index == 4 %}
                    <div class="col mp-0">
                        <img class="img-fluid gall-item gall-i-s6 gall-p-tl" src="{{ config.MEDIA_STORAGE + photo_list[loop.index-1]['filename'] }}">
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}

{% macro media_gallery() %}
   {# 1 #}
   <div class="mc-ip mc-ip-i row mp-0">
      <div class="col gall-item gall-p-tb px-0">
         <a>
            <img class="img-fluid rounded gall-i-s1" src="{{ config.MEDIA_STORAGE }}">
         </a>
      </div>
   </div>

   {# 2 #}
   <div class="mc-ip mc-ip-ii row mp-0">
      <div class="col gall-item gall-p-tbr pl-0">
         <a>
            <img class="img-fluid rounded gall-i-s2" src="{{ config.MEDIA_STORAGE }}">
         </a>
      </div>
      <div class="col gall-item gall-p-tbl pr-0">
         <a>
            <img class="img-fluid rounded gall-i-s2" src="{{ config.MEDIA_STORAGE }}">
         </a>
      </div>
   </div>


   {# 3 #}
   <div class="mc-ip mc-ip-iii row mp-0">
      <div class="col gall-item gall-p-tbr">
         <a>
            <img class="img-fluid rounded gall-i-s3" src="{{ config.MEDIA_STORAGE }}">
         </a>
      </div>
      <div class="col gall-item gall-p-tblr">
         <a>
            <img class="img-fluid rounded gall-i-s3" src="{{ config.MEDIA_STORAGE }}">
         </a>
      </div>
      <div class="col gall-item gall-p-tbl">
         <a>
            <img class="img-fluid rounded gall-i-s3" src="{{ config.MEDIA_STORAGE }}">
         </a>
      </div>
   </div>

   {# 4 : TOP #}
   <div class="mc-ip mc-ip-iiii mc-ip-iiii-t row mp-0">
      <div class="col gall-item gall-p-tbr">
         <a>
               <img class="img-fluid rounded gall-i-s3" src="{{ config.MEDIA_STORAGE }}">
         </a>
      </div>
      <div class="col gall-item gall-p-tblr">
         <a>
               <img class="img-fluid rounded gall-i-s3" src="{{ config.MEDIA_STORAGE }}">
         </a>
      </div>
      <div class="col gall-item gall-p-tbl">
         <a>
            <img class="img-fluid rounded gall-i-s3" src="{{ config.MEDIA_STORAGE }}">
         </a>
      </div>
   </div>

   {# 4 : MIDDLE #}
   <div class="mc-ip mc-ip-iiii mc-ip-iiii-m row mp-0">
      <div class="col gall-item gall-p-tbr">
            <a>
               <img class="img-fluid rounded gall-i-s3" src="{{ config.MEDIA_STORAGE }}">
            </a>
      </div>
      <div class="col gall-item gall-p-tblr">
            <a>
               <img class="img-fluid rounded gall-i-s3" src="{{ config.MEDIA_STORAGE }}">
            </a>
      </div>
      <div class="col gall-item gall-p-tbl">
         <a>
            <img class="img-fluid rounded gall-i-s3 " src="{{ config.MEDIA_STORAGE }}">
         </a>
      </div>
   </div>

   {# 4 : BOTTOM : 1 #}
   <div class="mc-ip mc-ip-iiii mc-ip-iiii-b mc-ip-iiii-b-i row mp-0">
      <div class="col gall-item gall-p-tb px-0">
         <a>
            <img class="img-fluid rounded gall-i-s1" src="{{ config.MEDIA_STORAGE }}">
         </a>
      </div>
   </div>

   {# 4 : BOTTOM : 2 #}
   <div class="mc-ip mc-ip-iiii mc-ip-iiii-b mc-ip-iiii-b-ii row mp-0">
      <div class="col gall-item gall-p-tbr pl-0">
         <a>
            <img class="img-fluid rounded gall-i-s2" src="{{ config.MEDIA_STORAGE }}">
         </a>
      </div>
      <div class="col gall-item gall-p-tbl pr-0">
         <a>
            <img class="img-fluid rounded gall-i-s2" src="{{ config.MEDIA_STORAGE }}">
         </a>
      </div>
   </div>

   {# 4 : BOTTOM : 3 #}
   <div class="mc-ip mc-ip-iiii mc-ip-iiii-b mc-ip-iiii-b-iii row mp-0">
      <div class="col gall-item gall-p-tbr">
         <a>
            <img class="img-fluid rounded gall-i-s3" src="{{ config.MEDIA_STORAGE }}">
         </a>
      </div>
      <div class="col gall-item gall-p-tblr">
         <a>
            <img class="img-fluid rounded gall-i-s3" src="{{ config.MEDIA_STORAGE }}">
         </a>
      </div>
      <div class="col gall-item gall-p-tbl">
         <a>
            <img class="img-fluid rounded gall-i-s3" src="{{ config.MEDIA_STORAGE }}">
         </a>
      </div>
   </div>
{% endmacro %}

{% macro post_create_gallery() %}
   <div id="crp-gallc-1" class="crp-gallc mt-3 d-none">
      <div class="d-flex flex-row h-100 d-inline-block">
         <div class="d-flex flex-column w-100 h-100 d-inline-block position-relative">
            <div class="rounded inc-cnt d-flex flex-column w-100 h-100 d-inline-block position-relative">
               <div class="inc-c d-flex flex-column w-100 h-100 d-inline-block position-relative">
                  <span class="position-absolute p-2 w-100">
                     <img class="float-right rounded-circle" src="{{ url_for('static', filename='assets/close-white.svg') }}">
                  </span>
                  <div class="img-fluid h-100 d-inline-block"></div>
               </div>
               <div class="inc-c-ld position-absolute">
                  <div class="w-100 h-100 d-inline-block d-flex align-items-center justify-content-center">
                     <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div id="crp-gallc-2" class="crp-gallc mt-3 d-none">
      <div class="d-flex flex-row h-100 d-inline-block">
         <div class="d-flex flex-column w-100 h-100 d-inline-block position-relative mr-1">
            <div class="rounded inc-cnt d-flex flex-column w-100 h-100 d-inline-block position-relative">
               <div class="inc-c d-flex flex-column w-100 h-100 d-inline-block position-relative">
                  <span class="position-absolute p-2 w-100">
                     <img class="float-right rounded-circle" src="{{ url_for('static', filename='assets/close-white.svg') }}">
                  </span>
                  <div class="img-fluid h-100 d-inline-block"></div>
               </div>
               <div class="inc-c-ld position-absolute">
                  <div class="w-100 h-100 d-inline-block d-flex align-items-center justify-content-center">
                     <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="d-flex flex-column w-100 h-100 d-inline-block position-relative ml-1">
            <div class="rounded inc-cnt d-flex flex-column w-100 h-100 d-inline-block position-relative">
               <div class="inc-c d-flex flex-column w-100 h-100 d-inline-block position-relative">
                  <span class="position-absolute p-2 w-100">
                     <img class="float-right rounded-circle" src="{{ url_for('static', filename='assets/close-white.svg') }}">
                  </span>
                  <div class="img-fluid h-100 d-inline-block"></div>
               </div>
               <div class="inc-c-ld position-absolute">
                  <div class="w-100 h-100 d-inline-block d-flex align-items-center justify-content-center">
                     <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div id="crp-gallc-3" class="crp-gallc mt-3 d-none">
      <div class="d-flex flex-row h-100 d-inline-block">
         <div class="d-flex flex-column w-100 h-100 d-inline-block position-relative mr-1">
            <div class="rounded inc-cnt d-flex flex-column w-100 h-100 d-inline-block position-relative">
               <div class="inc-c d-flex flex-column w-100 h-100 d-inline-block position-relative">
               <span class="position-absolute p-2 w-100">
                  <img class="float-right rounded-circle" src="{{ url_for('static', filename='assets/close-white.svg') }}">
               </span>
               <div class="img-fluid h-100 d-inline-block"></div>
               </div>
               <div class="inc-c-ld position-absolute">
                  <div class="w-100 h-100 d-inline-block d-flex align-items-center justify-content-center">
                     <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="d-flex flex-column w-100 h-100 d-inline-block position-relative ml-1">
            <div class="rounded inc-cnt d-flex flex-column w-100 h-100 d-inline-block position-relative mb-1">
               <div class="inc-c d-flex flex-column w-100 h-100 d-inline-block position-relative">
               <span class="position-absolute p-2 w-100">
                  <img class="float-right rounded-circle" src="{{ url_for('static', filename='assets/close-white.svg') }}">
               </span>
               <div class="img-fluid h-100 d-inline-block"></div>
               </div>
               <div class="inc-c-ld position-absolute pb-1">
                  <div class="w-100 h-100 d-inline-block d-flex align-items-center justify-content-center">
                     <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="rounded inc-cnt d-flex flex-column w-100 h-100 d-inline-block position-relative mt-1">
               <div class="inc-c d-flex flex-column w-100 h-100 d-inline-block position-relative">
               <span class="position-absolute p-2 w-100">
                  <img class="float-right rounded-circle" src="{{ url_for('static', filename='assets/close-white.svg') }}">
               </span>
               <div class="img-fluid h-100 d-inline-block"></div>
               </div>
               <div class="inc-c-ld position-absolute pt-1">
                  <div class="w-100 h-100 d-inline-block d-flex align-items-center justify-content-center">
                     <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div id="crp-gallc-4" class="crp-gallc mt-3 d-none">
      <div class="d-flex flex-row h-100 d-inline-block">
         <div class="d-flex flex-column w-100 h-100 d-inline-block position-relative mr-1">
            <div class="rounded inc-cnt d-flex flex-column w-100 h-100 d-inline-block position-relative mb-1">
               <div class="inc-c d-flex flex-column w-100 h-100 d-inline-block position-relative">
               <span class="position-absolute p-2 w-100">
                  <img class="float-right rounded-circle" src="{{ url_for('static', filename='assets/close-white.svg') }}">
               </span>
               <div class="img-fluid h-100 d-inline-block"></div>
               </div>
               <div class="inc-c-ld position-absolute pb-1">
                  <div class="w-100 h-100 d-inline-block d-flex align-items-center justify-content-center">
                     <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="rounded inc-cnt d-flex flex-column w-100 h-100 d-inline-block position-relative mt-1">
               <div class="inc-c d-flex flex-column w-100 h-100 d-inline-block position-relative">
               <span class="position-absolute p-2 w-100">
                  <img class="float-right rounded-circle" src="{{ url_for('static', filename='assets/close-white.svg') }}">
               </span>
               <div class="img-fluid h-100 d-inline-block"></div>
               </div>
               <div class="inc-c-ld position-absolute pt-1">
                  <div class="w-100 h-100 d-inline-block d-flex align-items-center justify-content-center">
                     <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="d-flex flex-column w-100 h-100 d-inline-block position-relative ml-1">
            <div class="rounded inc-cnt d-flex flex-column w-100 h-100 d-inline-block position-relative mb-1">
               <div class="inc-c d-flex flex-column w-100 h-100 d-inline-block position-relative">
                  <span class="position-absolute p-2 w-100">
                     <img class="float-right rounded-circle" src="{{ url_for('static', filename='assets/close-white.svg') }}">
                  </span>
                  <div class="img-fluid h-100 d-inline-block"></div>
               </div>
               <div class="inc-c-ld position-absolute pb-1">
                  <div class="w-100 h-100 d-inline-block d-flex align-items-center justify-content-center">
                     <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="rounded inc-cnt d-flex flex-column w-100 h-100 d-inline-block position-relative mt-1">
               <div class="inc-c d-flex flex-column w-100 h-100 d-inline-block position-relative">
                  <span class="position-absolute p-2 w-100">
                     <img class="float-right rounded-circle" src="{{ url_for('static', filename='assets/close-white.svg') }}">
                  </span>
                  <div class="img-fluid h-100 d-inline-block"></div>
               </div>
               <div class="inc-c-ld position-absolute pt-1">
                  <div class="w-100 h-100 d-inline-block d-flex align-items-center justify-content-center">
                     <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
{% endmacro %}