{% macro notif(current_user) %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on("notif-for-{{ current_user['username'] }}", function (notification) {
            let notifCont = document.querySelector(".ntf-nb");
            let notifUnreadCount = notifCont.querySelector(".position-absolute");
            let notifMenu = notifCont.querySelector(".dropdown-menu");

            let postBaseUrl = notifCont.getAttribute("post-base-url");
            let petBaseUrl = notifCont.getAttribute("pet-base-url");
            let petPendFollBaseUrl = notifCont.getAttribute("pet-pf-base-url");
            let businessBaseUrl = notifCont.getAttribute("business-base-url");
            let circleBaseUrl = notifCont.getAttribute("circle-base-url");
            let circlePendFollBaseUrl = notifCont.getAttribute("circle-pf-base-url");

            let notifIsEmpty = notifCont.querySelector(".ntf-e");
            if (notifIsEmpty) {
                notifIsEmpty.remove();
            }

            notifUnreadCount.classList.remove("d-none");
            notifUnreadCount.innerHTML = parseInt(notifUnreadCount.innerHTML) + 1;
            
            let thisNotif = document.createElement("a");
            thisNotif.classList.add("dropdown-item", "p-3", "d-flex", "flex-row", "align-items-center", "justify-content-between", "ntf-nb-unr");
            
            notifImageCont = document.createElement("div");
            notifImageCont.classList.add("mr-3", "ntf-nb-img-c");
            notifImage = document.createElement("img");
            notifImage.setAttribute("src", "{{ config.MEDIA_STORAGE }}" + notification["sender_photo"]);
            notifImageCont.append(notifImage);
            thisNotif.append(notifImageCont);

            notifMessage = document.createElement("span");
            notifMessage.classList.add("small", "mr-3");
            notifMessage.innerHTML = notification["content"];
            thisNotif.append(notifMessage);

            notifDatetime = document.createElement("div");
            notifDatetime.classList.add("text-muted", "d-flex", "justify-content-end", "ntf-dt-vs");
            notifDatetime.innerHTML =  moment(new Date()).fromNow();
            thisNotif.append(notifDatetime);

            if (notification["post_subject_id"]) {
                thisNotif.setAttribute("href", postBaseUrl.replace("//", "/" + notification["post_subject_id"] + "/"));
            } else if (notification["circle_subject_id"]) {
                if (notification["_type"] == 1) {
                    thisNotif.setAttribute("href", circlePendFollBaseUrl.replace("//", "/" + notification["circle_subject_id"] + "/"));
                } else {
                    thisNotif.setAttribute("href", circleBaseUrl.replace("//", "/" + notification["circle_subject_id"] + "/"));
                }
            } else if (notification["pet_subject_id"]) {
                if (notification["_type"] == 1) {
                    thisNotif.setAttribute("href", petPendFollBaseUrl.replace("//", "/" + notification["pet_subject_id"] + "/"));
                } else {
                    thisNotif.setAttribute("href", petBaseUrl + notification["pet_subject_id"]);
                }
            } else if (notification["business_subject_id"]) {
                thisNotif.setAttribute("href", businessBaseUrl.replace("//", "/" + notification["business_subject_id"] + "/"));
            }

            dividerCont = document.createElement("li");
            notifMenu.prepend(dividerCont);
            notifMenu.prepend(thisNotif);
            
            let asd = document.querySelector(".alert-frame");
            let alertCont = asd.querySelector(".container");
            let alert = document.createElement("a");

            var href = "";

            if (notification["post_subject_id"]) {
                href = postBaseUrl.replace("//", "/" + notification["post_subject_id"] + "/");
            } else if (notification["business_subject_id"]) {
                href = businessBaseUrl.replace("//", "/" + notification["business_subject_id"] + "/");
            } else if (notification["circle_subject_id"]) {
                if (notification["_type"] == 1) {
                    href = circlePendFollBaseUrl.replace("//", "/" + notification["circle_subject_id"] + "/");
                } else {
                    href = circleBaseUrl.replace("//", "/" + notification["circle_subject_id"] + "/")
                }
            } else if (notification["pet_subject_id"]) {
                if (notification["_type"] == 1) {
                    href = petPendFollBaseUrl.replace("//", "/" + notification["pet_subject_id"] + "/");
                } else {
                    href = petBaseUrl + notification["pet_subject_id"];
                }
            }

            alert.setAttribute("href", href);
            alert.classList.add("toast", "d-flex", "flex-column", "text-body", "text-decoration-none", "toast-notif", "alert-dismissible", "mt-2", "p-0");
            let toastHeader = document.createElement("div");
            toastHeader.classList.add("toast-header");
            let senderDetailsCont = document.createElement("div");
            senderDetailsCont.classList.add("d-flex", "flex-row", "mr-5");
            let senderPhoto = document.createElement("img");
            senderPhoto.setAttribute("src", "{{ config.MEDIA_STORAGE }}" + notification["sender_photo"]);
            senderPhoto.classList.add("toast-photo", "mr-2");
            senderDetailsCont.append(senderPhoto);
            let senderName = document.createElement("strong");
            senderName.classList.add("mr-auto");
            senderName.innerHTML = notification["sender_name"];
            senderDetailsCont.append(senderName);
            toastHeader.append(senderDetailsCont);
            let timeSentCont = document.createElement("span");
            timeSentCont.classList.add("ml-5");
            timeSentCont.innerHTML = "Just now";
            toastHeader.append(timeSentCont);
            alert.append(toastHeader);
            let toastBody = document.createElement("div");
            toastBody.classList.add("toast-body");
            toastBody.innerHTML = notification["content"];
            alert.append(toastBody);

            $(alert).fadeTo(5000, 500).slideUp(500, function (e) {
                $(this).remove();
            });
            alertCont.append(alert);
        });
    </script>
{% endmacro %}