{% macro notif(current_user) %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on("notif-for-{{ current_user['username'] }}", function (notification) {
            let notifCont = document.querySelector(".ntf-nb");
            let notifUnreadCount = notifCont.querySelector(".position-absolute");
            let notifBtn = notifCont.querySelector(".nav-link");
            let notifMenu = notifCont.querySelector(".dropdown-menu");

            let notifIsEmpty = notifCont.querySelector(".ntf-e");
            if (notifIsEmpty) {
                notifIsEmpty.remove();
            }

            notifUnreadCount.innerHTML = parseInt(notifUnreadCount.innerHTML) + 1;
            
            thisNotif = document.createElement("a");
            thisNotif.classList.add("dropdown-item", "p-3", "d-flex", "flex-row", "align-items-center", "justify-content-between", "ntf-nb-unr");
            
            notifImageCont = document.createElement("div");
            notifImageCont.classList.add("mr-3", "ntf-nb-img-c");
            notifImage = document.createElement("img");
            notifImage.setAttribute("src", "/static/images/" + notification["sender_photo"]);
            notifImageCont.append(notifImage);
            thisNotif.append(notifImageCont);

            notifMessage = document.createElement("span");
            notifMessage.classList.add("small", "mr-3");
            notifMessage.innerHTML = notification["content"];
            thisNotif.append(notifMessage);

            notifDatetime = document.createElement("div");
            notifDatetime.classList.add("text-muted", "d-flex", "justify-content-end", "ntf-dt-vs");
            notifDatetime.innerHTML =  moment(new Date()).fromNow();
            thisNotif.append(notifDatetime);

            if (notification["post_subject_id"]) {
                thisNotif.setAttribute("href", "/post/" + notification["post_subject_id"] + "/comments");
            } else if (notification["circle_subject_id"]) {
                if (notification["_type"] == 1) {
                    thisNotif.setAttribute("href", "/circle/" + notification["circle_subject_id"] + "/members/pending");
                } else {
                    thisNotif.setAttribute("href", "/circle/" + notification["circle_subject_id"] + "/posts");
                }
            } else if (notification["pet_subject_id"]) {
                if (notification["_type"] == 1) {
                    thisNotif.setAttribute("href", "/pet/" + notification["pet_subject_id"] + "/followers/pending");
                } else {
                    thisNotif.setAttribute("href", "/pet/" + notification["pet_subject_id"] + "/posts");
                }
            } else if (notification["business_subject_id"]) {
                thisNotif.setAttribute("href", "/business/" + notification["business_subject_id"] + "/posts");
            }

            dividerCont = document.createElement("li");
            notifMenu.prepend(dividerCont);
            notifMenu.prepend(thisNotif);
            
            let alertCont = document.querySelector(".alert-frame");
            let alert = document.createElement("a");

            var href;

            if (notification["post_subject_id"]) {
                {% set list1 = url_for('post.comments', post_pid='').split('/') %}
                href = "/{{ list1[1] }}/" + notification["post_subject_id"] + "/{{ list1[3] }}";
            } else if (notification["circle_subject_id"]) {
                if (notification["_type"] == 1) {
                    {% set list1 = url_for('circle.pending_members', circle_pid='').split('/') %}
                    href = "/{{ list1[1] }}/" + notification["circle_subject_id"] + "/{{ list1[3] }}/{{ list1[4] }}";
                } else {
                    {% set list1 = url_for('circle.posts', circle_pid='').split('/') %}
                    href = "/{{ list1[1] }}/" + notification["circle_subject_id"] + "/{{ list1[3] }}";
                }
            } else if (notification["pet_subject_id"]) {
                if (notification["_type"] == 1) {
                    {% set list1 = url_for('pet.pending_followers', pet_pid='').split('/') %}
                    href = "/{{ list1[1] }}/" + notification["pet_subject_id"] + "/{{ list1[3] }}/{{ list1[4] }}";
                } else {
                    {% set list1 = url_for('pet.posts', pet_pid='').split('/') %}
                    href = "/{{ list1[1] }}/" + notification["pet_subject_id"] + "/{{ list1[3] }}";
                }
            } else if (notification["business_subject_id"]) {
                {% set list1 = url_for('business.posts', business_pid='').split('/') %}
                href = "/{{ list1[1] }}/" + notification["business_subject_id"] + "/{{ list1[3] }}";
            }

            alert.setAttribute("href", href);
            alert.classList.add("alert", "alert-primary", "alert-dismissible", "fade", "show", "small");
            alert.innerHTML = notification["content"];
            $(alert).fadeTo(5000, 500).slideUp(500, function (e) {
                $(alert).remove();
            });
            alertCont.append(alert);
        });
    </script>
{% endmacro %}