body {
  overflow-y: scroll;
}

.ldg-dbg {
  background-color: rgba(0, 0, 0, 0.1);
}

[hidden] {
  display: none !important;
}

.stnv-c > .nav-link:hover {
  background-color: white;
}

.alert-frame {
  z-index: 2;
  position: fixed;
  right: 40px;
  bottom: 40px;
}

.alert-frame > .container > .toast-notif:hover {
  -webkit-box-shadow: 2px 2px 10px -1.5px black;
          box-shadow: 2px 2px 10px -1.5px black;
}

.ntf-nb > .dropdown-menu {
  max-width: 450px;
  max-height: 500px;
  overflow-y: scroll;
}

.ntf-nb > .dropdown-menu > a > .ntf-nb-img-c > img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  background: white;
  border: 1px solid lightgray;
}

.ntf-nb > .dropdown-menu > a > .small {
  width: 300px;
  white-space: initial;
}

.ntf-nb-unr {
  background-color: #CCE5FF;
}

.ntf-nb-unr:hover {
  background-color: #80bdff;
}

.ntf-dt-vs {
  width: 100px;
  font-size: 9px;
  white-space: initial;
}

.c-center {
  width: 600px;
}

.gwac {
  width: 700px;
}

.gwac > .gwac-illus {
  width: 300px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  overflow: hidden;
}

.comet-anim {
  -webkit-animation-name: comet-anim;
          animation-name: comet-anim;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes comet-anim {
  from {
    -webkit-transform: translate(-300px, -300px);
            transform: translate(-300px, -300px);
  }
  10% {
    -webkit-transform: translate(300px, 300px);
            transform: translate(300px, 300px);
  }
  to {
    -webkit-transform: translate(300px, 300px);
            transform: translate(300px, 300px);
  }
}

@keyframes comet-anim {
  from {
    -webkit-transform: translate(-300px, -300px);
            transform: translate(-300px, -300px);
  }
  10% {
    -webkit-transform: translate(300px, 300px);
            transform: translate(300px, 300px);
  }
  to {
    -webkit-transform: translate(300px, 300px);
            transform: translate(300px, 300px);
  }
}

.gwac > .gwac-illus > img {
  pointer-events: none;
}

.gwac > .gwac-illus > a > img {
  width: 80px;
}

.gwac > .lgn-usr {
  background: -webkit-gradient(linear, left bottom, left top, from(#BC6E33), color-stop(#DB9A4E), to(#6E6071));
  background: linear-gradient(0deg, #BC6E33, #DB9A4E, #6E6071);
}

.gwac > .sgnp-1 {
  background: -webkit-gradient(linear, left bottom, left top, from(#69A8C8), color-stop(#69A8C8), color-stop(#69A8C8), color-stop(#2893A7), color-stop(#2893A7), color-stop(#2893A7), color-stop(#2893A7), color-stop(#285C9D), to(#4440A5));
  background: linear-gradient(0deg, #69A8C8, #69A8C8, #69A8C8, #2893A7, #2893A7, #2893A7, #2893A7, #285C9D, #4440A5);
}

.gwac > .sgnp-2 {
  background: -webkit-gradient(linear, left bottom, left top, from(#028292), to(#6C17B2));
  background: linear-gradient(0deg, #028292, #6C17B2);
}

.gwac > .gwac-bd-grd > .gwac-ld {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 99%;
  height: 98.5%;
  z-index: 10;
}

.gwac > .gwac-bd-grd > .gwac-fs > .form-group {
  height: 90px;
}

.gwac > .gwac-bd-grd > .gwac-ld > div {
  height: inherit;
}

.gwac > .gwac-bd-grd > .gwac-fs {
  background-color: white;
  height: 500px;
  position: relative;
}

.navbar > .navbar-brand > img {
  width: 70px;
}

@media (max-width: 900px) {
  #gww-nvbr-lf {
    display: none !important;
  }
}

.flt-osc {
  -webkit-animation-name: flt-osc;
          animation-name: flt-osc;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes flt-osc {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  65% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes flt-osc {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  65% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.gww > .gww-l > .gww-ptr {
  width: 90%;
  height: 90%;
}

.btn-w-50 {
  width: 130px;
}

.red {
  background-color: red !important;
}

.blue {
  background-color: blue !important;
}

.green {
  background-color: green !important;
}

.yellow {
  background-color: yellow !important;
}

.orange {
  background-color: orange !important;
}

.teal {
  background-color: teal !important;
}

.cbf-ot-t {
  pointer-events: none;
  display: none;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 95%;
  left: -10;
  right: -20;
  max-height: 170px;
  overflow: auto;
}

.autocomplete-items > div {
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.autocomplete-items > .ac-i-h {
  /*when hovering an item:*/
  cursor: pointer;
}

.autocomplete-items > .ac-i-h:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.hci-bb-p {
  width: 15px;
  margin-right: 5px;
  margin-top: -2.5px;
}

.home-content-profPic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  background: white;
  display: block;
  border: 1px solid #d3d3d3;
}

.pp-opp {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  background: white;
  display: block;
  border: 1px solid lightgray;
}

.hci-1p {
  border-radius: 8.5px;
  height: 300px !important;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bs-tooltip-left .arrow::before {
  border-left-color: lightgray !important;
}

.bs-tooltip-right .arrow::before {
  border-right-color: lightgray !important;
}

.bs-tooltip-bottom .arrow::before {
  border-bottom-color: lightgray !important;
}

.bs-tooltip-top .arrow::before {
  border-top-color: lightgray !important;
}

.tooltip-cont > .tooltip-photo {
  width: 45px;
  height: 45px;
  -o-object-fit: cover;
     object-fit: cover;
}

.post > .post-user-photo {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 10px;
  z-index: 1;
}

.pcp-1 {
  width: 31px;
  height: 60px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: 1px solid #dee2e6;
  background-color: white;
}

.pcp-2 {
  left: 30px;
  width: 19px;
  height: 60px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  background-color: white;
}

.post > .post-content {
  border-top-left-radius: 0 !important;
  background-color: white;
}

.post > .post-content > .post-body {
  margin-top: 7px;
}

.post > .post-content > .post-relevant-pets > span > a > img {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.post > .post-content > .post-relevant-pets > span > a:hover {
  cursor: pointer;
}

.post > .post-content > .post-footer > .nav-item :hover .st0 {
  fill: gray;
}

.comm-list > .comm-li {
  background-color: transparent !important;
  border-bottom: none !important;
}

.mp-0 {
  margin: 0 !important;
  padding: 0 !important;
}

.gall-i-s1 {
  height: 400px !important;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gall-i-s2 {
  height: 300px !important;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gall-i-s3 {
  height: 200px !important;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gall-i-s4 {
  -o-object-fit: cover;
     object-fit: cover;
}

.gall-i-s5 {
  height: 300px !important;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gall-i-s5-a {
  height: 304.60px !important;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gall-i-s6 {
  width: 100%;
  height: 150px !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.gall-br-tl {
  border-top-left-radius: 0.25rem;
}

.gall-br-tr {
  border-top-right-radius: 0.25rem;
}

.gall-br-bl {
  border-bottom-left-radius: 0.25rem;
}

.gall-br-br {
  border-bottom-right-radius: 0.25rem;
}

.gall-p-t {
  padding-top: 0.15rem;
}

.gall-p-tb {
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}

.gall-p-b {
  padding-left: 0.15rem;
}

.gall-p-l {
  padding-left: 0.15rem;
}

.gall-p-r {
  padding-right: 0.15rem;
}

.gall-p-tblr {
  padding: 0.15rem;
}

.gall-p-blr {
  padding: 0 0.15rem 0.15rem 0.15rem;
}

.gall-p-tbr {
  padding: 0.15rem 0.15rem 0.15rem 0;
}

.gall-p-tlr {
  padding: 0.15rem 0.15rem 0 0.15rem;
}

.gall-p-tbl {
  padding: 0.15rem 0 0.15rem 0.15rem;
}

.gall-p-tl {
  padding-top: 0.15rem;
  padding-left: 0.15rem;
}

.gall-p-tr {
  padding-top: 0.15rem;
  padding-right: 0.15rem;
}

.gall-p-bl {
  padding-bottom: 0.15rem;
  padding-left: 0.15rem;
}

.gall-p-br {
  padding-bottom: 0.15rem;
  padding-right: 0.15rem;
}

.gall-p-lr {
  padding-left: 0.15rem;
  padding-right: 0.15rem;
}

.cr-post > .cr-post-user-photo {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 10px;
  z-index: 1;
}

.cr-post > .cr-pcp-1 {
  width: 31px;
  height: 60px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: 1px solid #dee2e6;
  background-color: white;
}

.cr-post > .cr-pcp-2 {
  left: 30px;
  width: 19px;
  height: 60px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  background-color: white;
}

.cr-post > .cr-post-content {
  border-top-left-radius: 0 !important;
  background-color: white;
  width: 100%;
}

.cr-post > .cr-post-content > .cr-post-pre-aa {
  margin-top: 13px;
}

.cr-post > .cr-post-content > .cr-post-pre-aa > a {
  text-decoration: none;
}

.input-pretend {
  background-color: whitesmoke;
  border-radius: 0.25rem;
  margin-top: 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-pretend:hover {
  background-color: rgba(231, 231, 231, 0.918);
  cursor: pointer;
}

.input-pretend-reverse:hover {
  background-color: whitesmoke;
  border-radius: 0.25rem;
  cursor: pointer;
}

.crp-gallc {
  height: 250px;
}

.crp-gallc > .flex-row > .flex-column > .inc-cnt > .inc-c > .img-fluid {
  background-size: cover;
  background-position: 50% 50%;
}

.crp-gallc > .flex-row > .flex-column > .inc-cnt > .inc-c > span > img {
  background-color: rgba(0, 0, 0, 0.5);
  width: 20px;
  height: 20px;
  padding: 4px;
}

.crp-gallc > .flex-row > .flex-column > .inc-cnt > .inc-c > span:hover {
  cursor: pointer;
}

.crp-gallc > .flex-row > .flex-column > .inc-cnt {
  overflow: hidden;
}

.crp-gallc > .flex-row > .flex-column > .inc-cnt > .inc-c-ld {
  background-color: lightgray;
  width: 100%;
  height: 100%;
}

.crp-gallc {
  height: 250px;
}

.crp-gallc > .flex-row > .flex-column > .inc-cnt > .inc-c > .img-fluid {
  background-size: cover;
  background-position: 50% 50%;
}

.crp-gallc > .flex-row > .flex-column > .inc-cnt > .inc-c > span > img {
  background-color: rgba(0, 0, 0, 0.5);
  width: 20px;
  height: 20px;
  padding: 4px;
}

.crp-gallc > .flex-row > .flex-column > .inc-cnt > .inc-c > span:hover {
  cursor: pointer;
}

.crp-gallc > .flex-row > .flex-column > .inc-cnt {
  overflow: hidden;
}

.crp-gallc > .flex-row > .flex-column > .inc-cnt > .inc-c-ld {
  background-color: lightgray;
  width: 100%;
  height: 100%;
}

.hide-overflow {
  overflow: hidden;
}

.border-glow-dark-sm {
  -webkit-box-shadow: 1px 1px 10px -7.5px #888888;
          box-shadow: 1px 1px 10px -7.5px #888888;
}

.anticipate-drop {
  border-color: gray;
  -webkit-box-shadow: 0 0 10px lightgray;
          box-shadow: 0 0 10px lightgray;
}

.anticipate-drop-dark {
  border-color: darkslategray;
  -webkit-box-shadow: 0 0 10px darkslategray;
          box-shadow: 0 0 10px darkslategray;
}

.tooltip.show {
  opacity: 1 !important;
  background-color: transparent !important;
  border: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.tooltip-inner {
  background-color: white !important;
  border: 1px solid lightgray !important;
}

.tooltip-cont {
  width: 100%;
  color: black !important;
}

.tooltip-cont > .tooltip-photo {
  width: 45px;
  height: 45px;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-sidebar-profPic {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  background: white;
  display: block;
  border: 1px solid #d3d3d3;
}

.toast-photo {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  background: white;
  display: block;
  border: 1px solid #d3d3d3;
}

.ss-cr {
  width: 300px;
  margin-left: 60px;
}

.uccp-cont {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  background: white;
  display: block;
  border: 1px solid #d3d3d3;
}
/*# sourceMappingURL=main.css.map */